<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import"
  href="chrome://resources/polymer/v1_0/iron-iconset-svg/iron-iconset-svg.html">
<!--
Right now, these icons are only used on the settings page.
If they would be useful on other pages, let's consider moving
them to chrome://resources and having a common "icons" html
-->
<iron-iconset-svg name="shunya_settings" size="24">
  <svg>
    <defs>
      <!--
      Shoutouts to the design crew at Shunya Software for these 1337 icons
      -->
      <g id="privacy-security" viewBox="0 0 24 24">
        <lineargradient id="selectedGradient" gradientTransform="rotate(314.2)">
          <stop offset="8.49%" stop-color="var(--selected-gradient-color1, currentColor)"></stop>
          <stop offset="43.72%" stop-color="var(--selected-gradient-color2, currentColor)"></stop>
          <stop offset="99.51%" stop-color="var(--selected-gradient-color3, currentColor)"></stop>
        </lineargradient>
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M18.1667 22H6.5C5.12167 22 4 20.8792 4 19.5V11.1667C4 9.78833 5.12167 8.66667 6.5 8.66667H7.33333V7C7.33333 4.24333 9.57583 2 12.3333 2C15.0908 2 17.3333 4.24333 17.3333 7V8.66667H18.1667C19.545 8.66667 20.6667 9.78833 20.6667 11.1667V19.5C20.6667 20.8792 19.545 22 18.1667 22ZM12.3333 3.66667C10.495 3.66667 9 5.16167 9 7V8.66667H15.6667V7C15.6667 5.16167 14.1717 3.66667 12.3333 3.66667ZM19 11.1667C19 10.7067 18.6258 10.3333 18.1667 10.3333H6.5C6.04083 10.3333 5.66667 10.7067 5.66667 11.1667V19.5C5.66667 19.9592 6.04083 20.3333 6.5 20.3333H18.1667C18.6258 20.3333 19 19.9592 19 19.5V11.1667ZM13.1667 15.1017V17C13.1667 17.46 12.7933 17.8333 12.3333 17.8333C11.8733 17.8333 11.5 17.46 11.5 17V15.1017C11.0042 14.8125 10.6667 14.2808 10.6667 13.6667C10.6667 12.7475 11.4142 12 12.3333 12C13.2525 12 14 12.7475 14 13.6667C14 14.2808 13.6625 14.8125 13.1667 15.1017Z" />
      </g>
      <g id="search-engine" viewBox="0 0 24 24">
        <lineargradient id="selectedGradient" gradientTransform="rotate(314.2)">
          <stop offset="8.49%" stop-color="var(--selected-gradient-color1, currentColor)"></stop>
          <stop offset="43.72%" stop-color="var(--selected-gradient-color2, currentColor)"></stop>
          <stop offset="99.51%" stop-color="var(--selected-gradient-color3, currentColor)"></stop>
        </lineargradient>
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M10.4983 1.99994C5.80482 1.99994 2 5.80476 2 10.4982C2 15.1917 5.80482 18.9966 10.4983 18.9966C12.7614 18.9966 14.8178 18.112 16.3408 16.6697L20.6327 20.9616C20.9451 21.274 21.4516 21.274 21.764 20.9616C22.0764 20.6492 22.0764 20.1426 21.764 19.8302L17.3966 15.4627C18.4034 14.0661 18.9966 12.3515 18.9966 10.4982C18.9966 5.80476 15.1918 1.99994 10.4983 1.99994ZM3.6 10.4982C3.6 6.68842 6.68848 3.59994 10.4983 3.59994C14.3081 3.59994 17.3966 6.68842 17.3966 10.4982C17.3966 14.3081 14.3081 17.3966 10.4983 17.3966C6.68848 17.3966 3.6 14.3081 3.6 10.4982Z" />
      </g>
      <g id="language" viewBox="0 0 24 24">
        <lineargradient id="selectedGradient" gradientTransform="rotate(314.2)">
          <stop offset="8.49%" stop-color="var(--selected-gradient-color1, currentColor)"></stop>
          <stop offset="43.72%" stop-color="var(--selected-gradient-color2, currentColor)"></stop>
          <stop offset="99.51%" stop-color="var(--selected-gradient-color3, currentColor)"></stop>
        </lineargradient>
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M20.3691 20.6542L19.388 18.2035H15.1212L14.1419 20.6538C14.0137 20.9746 13.703 21.185 13.3575 21.185C12.76 21.185 12.3513 20.5815 12.5732 20.0266L16.0311 11.3799C16.2314 10.8792 16.7164 10.5508 17.2557 10.5508C17.7949 10.5508 18.2799 10.8791 18.4802 11.3798L21.9388 20.0265C22.1607 20.5812 21.7515 21.185 21.1537 21.185C20.8083 21.185 20.4974 20.9747 20.3691 20.6542ZM18.7131 16.5139L17.2557 12.8676L15.796 16.5139H18.7131Z" />
        <path
          d="M9.65266 3.44475V4.58768H14.771C15.2376 4.58768 15.6158 4.9659 15.6158 5.43245C15.6158 5.89901 15.2376 6.27723 14.771 6.27723H13.7014L13.6675 6.37931C12.9071 8.66811 11.6936 10.7803 10.0993 12.59L10.0014 12.7012L10.112 12.7998C10.6218 13.2548 11.1621 13.6739 11.7289 14.0545C12.0808 14.2907 12.2295 14.7421 12.0749 15.1287C11.8827 15.6093 11.3138 15.807 10.8979 15.5325C10.1973 15.0702 9.53197 14.5557 8.90769 13.9931L8.80768 13.9029L8.70785 13.9933C7.20031 15.3576 5.45479 16.4282 3.56152 17.1534C3.12548 17.3204 2.64162 17.0609 2.51292 16.5978C2.39179 16.1619 2.637 15.7007 3.06853 15.5312C4.69547 14.8923 6.19848 13.9685 7.50587 12.8007L7.61643 12.702L7.51828 12.5909C6.73584 11.7051 6.04432 10.7446 5.45332 9.72403C5.15182 9.20339 5.53948 8.56309 6.16369 8.56309H6.23521C6.54417 8.56309 6.83006 8.73365 6.99033 9.00495C7.48562 9.84331 8.05625 10.6353 8.69534 11.3711L8.80795 11.5007L8.92049 11.371C10.1744 9.92569 11.1627 8.26981 11.8394 6.48003L11.9157 6.27824L2.84469 6.27733C2.37818 6.27728 2 5.89904 2 5.4325C2 4.96594 2.37823 4.58768 2.84477 4.58768H7.96311V3.44475C7.96311 2.97819 8.34133 2.59998 8.80789 2.59998C9.27444 2.59998 9.65266 2.97819 9.65266 3.44475Z" />
      </g>
      <g id="download" viewBox="0 0 24 24">
        <lineargradient id="selectedGradient" gradientTransform="rotate(314.2)">
          <stop offset="8.49%" stop-color="var(--selected-gradient-color1, currentColor)"></stop>
          <stop offset="43.72%" stop-color="var(--selected-gradient-color2, currentColor)"></stop>
          <stop offset="99.51%" stop-color="var(--selected-gradient-color3, currentColor)"></stop>
        </lineargradient>
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M20.3333 22H3.66667C2.7475 22 2 21.2525 2 20.3342V15.3358C2 14.8758 2.3725 14.5033 2.83333 14.5033C3.29417 14.5033 3.66667 14.8758 3.66667 15.3358V20.3342H20.3333V15.3358C20.3333 14.8758 20.7058 14.5033 21.1667 14.5033C21.6275 14.5033 22 14.8758 22 15.3358V20.3342C22 21.2525 21.2517 22 20.3333 22ZM12.59 16.7492C12.5133 16.8267 12.4208 16.8875 12.3183 16.93C12.2167 16.9725 12.1083 16.9942 12 16.9942C11.8917 16.9942 11.7833 16.9725 11.6817 16.93C11.5808 16.8883 11.49 16.8283 11.4133 16.7525C11.4133 16.7517 11.4125 16.7517 11.4117 16.7508C11.4108 16.75 11.4108 16.75 11.41 16.7492L7.24501 12.5933C6.91834 12.2683 6.91834 11.7417 7.24334 11.4158C7.56917 11.0892 8.09584 11.0908 8.42167 11.4142L11.1667 14.1525V2.8325C11.1667 2.3725 11.5392 2 12 2C12.4608 2 12.8333 2.3725 12.8333 2.8325V14.1525L15.5783 11.4142C15.9042 11.0908 16.4308 11.0892 16.7567 11.4158C17.0817 11.7417 17.0817 12.2683 16.755 12.5933L12.59 16.7492Z" />
      </g>
      <g id="printing" viewBox="0 0 24 24">
        <lineargradient id="selectedGradient" gradientTransform="rotate(314.2)">
          <stop offset="8.49%" stop-color="var(--selected-gradient-color1, currentColor)"></stop>
          <stop offset="43.72%" stop-color="var(--selected-gradient-color2, currentColor)"></stop>
          <stop offset="99.51%" stop-color="var(--selected-gradient-color3, currentColor)"></stop>
        </lineargradient>
        <path
          d="M7 3a1 1 0 0 0-1 1v4H5c-1.65 0-3 1.35-3 3v4a2 2 0 0 0 2 2h2v2a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-2h2a2 2 0 0 0 2-2v-4c0-1.65-1.35-3-3-3h-1V4a1 1 0 0 0-2 0v4H8V4a1 1 0 0 0-1-1zm2.879 0a.563.563 0 0 0-.399.96l1.7 1.7a1.16 1.16 0 0 0 1.64 0l1.701-1.7a.564.564 0 0 0-.4-.96H9.879zM19 10c.6 0 1 .4 1 1s-.4 1-1 1-1-.4-1-1 .4-1 1-1zM8.5 14h7a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5z" />
      </g>
      <g id="performance" viewBox="0 0 24 24">
        <lineargradient id="selectedGradient" gradientTransform="rotate(314.2)">
          <stop offset="8.49%" stop-color="var(--selected-gradient-color1, currentColor)"></stop>
          <stop offset="43.72%" stop-color="var(--selected-gradient-color2, currentColor)"></stop>
          <stop offset="99.51%" stop-color="var(--selected-gradient-color3, currentColor)"></stop>
        </lineargradient>
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M20.5811 3.92439C20.5834 3.83443 20.5047 3.73931 20.3886 3.73911C11.8322 3.72448 7.68312 5.81571 5.85082 8.51885C4.0036 11.244 4.28826 14.9057 5.39465 18.5812C5.40733 18.6233 5.45393 18.6761 5.51842 18.6945C9.1441 19.7267 11.8285 19.6785 13.8225 19.0123C15.8023 18.3508 17.1901 17.0505 18.1786 15.3969C20.1927 12.0276 20.4951 7.29244 20.5811 3.92439ZM20.3913 2.13912C21.3798 2.14081 22.2065 2.95098 22.1806 3.96525C22.0955 7.29527 21.8096 12.4412 19.5519 16.2178C18.4046 18.1371 16.7357 19.7259 14.3295 20.5298C11.9648 21.32 8.97586 21.3228 5.2105 20.27L3.79381 21.6867C3.46116 22.0194 2.92183 22.0194 2.58918 21.6867C2.25653 21.3541 2.25653 20.8148 2.58918 20.4821L3.90505 19.1662C3.88941 19.1257 3.87521 19.0844 3.86256 19.0424C2.72584 15.2661 2.25185 10.9767 4.52641 7.62112C6.8159 4.24347 11.669 2.1242 20.3913 2.13912ZM13.8703 7.80786C14.1341 7.45346 14.0607 6.95227 13.7063 6.68844C13.3519 6.4246 12.8507 6.49802 12.5869 6.85242L9.17338 11.4376C8.99274 11.6803 8.96441 12.004 9.10018 12.2744C9.23594 12.5447 9.51257 12.7153 9.81508 12.7153H12.4709L11.17 16.0594C10.9357 16.434 11.0494 16.9276 11.424 17.1619C11.7986 17.3962 12.2922 17.2825 12.5265 16.9079L15.384 12.3396C15.5383 12.093 15.5465 11.7821 15.4056 11.5276C15.2646 11.2732 14.9967 11.1153 14.7058 11.1153H11.9674L13.8703 7.80786Z" />
      </g>
      <g id="clipboard" viewBox="0 0 32 32">
        <lineargradient id="selectedGradient" gradientTransform="rotate(314.2)">
          <stop offset="8.49%" stop-color="var(--selected-gradient-color1, currentColor)"></stop>
          <stop offset="43.72%" stop-color="var(--selected-gradient-color2, currentColor)"></stop>
          <stop offset="99.51%" stop-color="var(--selected-gradient-color3, currentColor)"></stop>
        </lineargradient>
        <path
          d="M16 2c-1.645 0-3 1.355-3 3H9C7.355 5 6 6.355 6 8v18c0 1.645 1.355 3 3 3h14c1.645 0 3-1.355 3-3V8c0-1.645-1.355-3-3-3h-4c0-1.645-1.355-3-3-3zm0 2c.564 0 1 .436 1 1 0 .564-.436 1-1 1-.564 0-1-.436-1-1 0-.564.436-1 1-1zM9 7h4v1a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V7h4c.565 0 1 .435 1 1v18c0 .565-.435 1-1 1H9c-.565 0-1-.435-1-1V8c0-.565.435-1 1-1zm3 6a1 1 0 1 0 0 2h8a1 1 0 1 0 0-2h-8zm0 4a1 1 0 1 0 0 2h5a1 1 0 1 0 0-2h-5zm0 4a1 1 0 1 0 0 2h8a1 1 0 1 0 0-2h-8z" >
      </g>
      <g id="close-circle" viewBox="0 0 32 32">
        <lineargradient id="selectedGradient" gradientTransform="rotate(314.2)">
          <stop offset="8.49%" stop-color="var(--selected-gradient-color1, currentColor)"></stop>
          <stop offset="43.72%" stop-color="var(--selected-gradient-color2, currentColor)"></stop>
          <stop offset="99.51%" stop-color="var(--selected-gradient-color3, currentColor)"></stop>
        </lineargradient>
        <path d="M16 3a13 13 0 1 0 13 13A13 13 0 0 0 16 3zm0 24a11 11 0 1 1 11-11 11 11 0 0 1-11 11z" />
        <path
          d="M20.71 11.29a1 1 0 0 0-1.42 0L16 14.59l-3.29-3.3a1 1 0 0 0-1.42 1.42l3.3 3.29-3.3 3.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l3.29-3.3 3.29 3.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42L17.41 16l3.3-3.29a1 1 0 0 0 0-1.42z" />
      </g>
      <g id="shields" viewBox="0 0 24 24">
        <path fill="#666D89" fill-rule="evenodd"
          d="M20.324 10.334c0 .087-.184 8.756-8.039 11.616-.006.001-.012 0-.017.002A.828.828 0 0 1 12 22a.829.829 0 0 1-.268-.048c-.006-.002-.011 0-.017-.002-7.855-2.86-8.038-11.53-8.04-11.616a234.65 234.65 0 0 1-.008-1.677V6.155a1.67 1.67 0 0 1 1.666-1.668h.834c3.5 0 5.075-2.071 5.14-2.16a.822.822 0 0 1 .645-.324.816.816 0 0 1 .743.329c.063.084 1.638 2.155 5.138 2.155h.834c.919 0 1.666.75 1.666 1.668v2.502c0 .461-.004 1.215-.009 1.677Zm-1.657-4.18h-.834c-3.045 0-4.925-1.304-5.833-2.148-.908.844-2.788 2.149-5.833 2.149h-.834v2.502c0 .456.004 1.203.01 1.659.004.303.194 7.38 6.656 9.943 6.49-2.578 6.658-9.869 6.658-9.943.006-.456.01-1.203.01-1.659V6.155Zm-6.345 8.835a.833.833 0 0 1-1.205.145l-2.984-2.502a.832.832 0 1 1 1.07-1.278l2.304 1.93 3.157-4.287a.833.833 0 1 1 1.342.989l-3.684 5.003Z"
          clip-rule="evenodd" />
      </g>
    </defs>
  </svg>
</iron-iconset-svg>
<iron-iconset-svg name="shunya_settings20" size="20">
  <svg>
    <defs>
      <g id="private-mode" viewBox="0 0 20 20">
        <path fill="#495057" fill-rule="evenodd"
          d="M1.1 9.04c.14.46.42 3.12 1.27 3.89.87.79 4.17.77 4.8.43 1.42-.77 1.99-3.24 2.24-4.32.14-.62.59-.62.59-.62s.47 0 .62.61c.25 1.09.8 3.57 2.2 4.34.64.34 3.94.35 4.81-.44.85-.77 1.13-3.44 1.27-3.9.14-.46.85-.92 1-1.07.14-.15.14-.77 0-.92-.29-.3-3.62-.58-7.22-.15-.71.08-.98.3-2.68.3-1.7 0-1.97-.22-2.69-.3-3.59-.43-6.92-.16-7.2.15-.15.15-.15.77 0 .92.14.15.84.62.98 1.08z"
          clip-rule="evenodd" />
      </g>
    </defs>
  </svg>
</iron-iconset-svg>
<iron-iconset-svg name="shunya_leo" size="24">
  <svg>
    <defs>
      <g id="refresh" viewBox="0 0 24 24">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M20.667 12c0 3.817-2.465 7.23-5.993 8.297a.833.833 0 1 1-.482-1.595C17.022 17.846 19 15.09 19 12c0-2.897-1.692-5.25-4.254-6.204l.832 1.665a.833.833 0 1 1-1.49.745L12.42 4.873a.833.833 0 0 1 .373-1.117l3.334-1.668a.832.832 0 1 1 .744 1.49l-1.395.699c3.103 1.236 5.19 4.21 5.19 7.723Zm-8.795 8.245L8.54 21.913a.832.832 0 0 1-1.118-.373.833.833 0 0 1 .373-1.117l1.394-.698C6.087 18.488 4 15.516 4 12c0-3.816 2.464-7.228 5.992-8.297a.833.833 0 0 1 .484 1.595c-2.832.858-4.81 3.614-4.81 6.702 0 2.9 1.693 5.254 4.255 6.206l-.833-1.666a.834.834 0 0 1 1.49-.746l1.667 3.334a.832.832 0 0 1-.372 1.117Z" />
      </g>
      <g id="code" viewBox="0 0 24 24">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="m21.756 12.756-4.168 4.169a.83.83 0 0 1-1.178 0 .832.832 0 0 1 0-1.178l3.578-3.58-3.578-3.575a.833.833 0 1 1 1.178-1.18l4.168 4.166a.831.831 0 0 1 0 1.178ZM10.298 20.74a.832.832 0 0 1-1.596-.479l5-16.666a.833.833 0 0 1 1.597.478l-5 16.667ZM7.59 16.923a.83.83 0 0 1-1.178 0l-4.168-4.165a.833.833 0 0 1 0-1.178l4.168-4.168A.833.833 0 1 1 7.59 8.59l-3.578 3.58 3.578 3.574a.833.833 0 0 1 0 1.18Z" />
      </g>
      <g id="trash-can" viewBox="0 0 24 24">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M19.833 7h-.908l-1.504 13.43c-.098.88-.87 1.57-1.754 1.57H9c-.887 0-1.656-.69-1.753-1.57L5.767 7h-.934a.834.834 0 0 1 0-1.667H9V4.5C9 3.122 10.122 2 11.5 2h1.667c1.378 0 2.5 1.122 2.5 2.5v.833h4.166a.834.834 0 0 1 0 1.667ZM14 4.5a.835.835 0 0 0-.833-.833H11.5a.835.835 0 0 0-.833.833v.833H14V4.5ZM7.443 7l1.461 13.247c.003.033.063.086.096.086h6.667c.033 0 .094-.054.098-.087L17.248 7H7.443Z" />
      </g>
      <g id="magnifying-glass" viewBox="0 0 24 24">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M10.498 2a8.498 8.498 0 1 0 5.843 14.67l4.292 4.292a.8.8 0 1 0 1.131-1.132l-4.367-4.367A8.498 8.498 0 0 0 10.499 2ZM3.6 10.498a6.898 6.898 0 1 1 13.797 0 6.898 6.898 0 0 1-13.797 0Z" />
      </g>
    </defs>
  </svg>
</iron-iconset-svg>
