<style include="settings-shared md-select iron-flex">
  .label.shields-primary-title
  {
    font-size: 1.05em;
    font-weight: 500;
    padding-top: 1em;
  }
  .label.shields-secondary-title {
    padding-bottom: 1em;
  }
  .flex-center {
    align-items: center;
    display: flex;
  }
  .shields-view-col {
    border: var(--cr-section_-_border-top);
    border-radius: 6px;
    float: left;
    height: 98px;
    margin: 16px 0 24px;
    padding: 0 24px;
    width: calc(50% - 58px);
  }
  .shields-view-col:last-of-type {
    margin: 16px 0 24px 16px;
  }
  .shields-view-label {
    cursor: pointer;
    margin: 0 20px;
  }
</style>
<div hidden="[[isAdBlockRoute_]]">
  <div class="settings-box first">
    <div class="flex">
      <div class="label shields-primary-title">$i18n{shunyaShieldsDefaultsSectionTitle}</div>
      <div class="label secondary shields-secondary-title">
        <p>$i18n{shunyaShieldsDefaultsSectionDescription1}</p>
        <template is="dom-if" if="[[isShunyaRewardsSupported_]]">
          <p>$i18nRaw{shunyaShieldsDefaultsSectionDescription2}</p>
        </template>
        <template is="dom-if" if="[[!isShunyaRewardsSupported_]]">
          <p>$i18n{shunyaShieldsDefaultsSectionDescription2RewardsDisabled}</p>
        </template>
      </div>
    </div>
  </div>
  <div class="settings-box">
    <div class="start">$i18n{adControlLabel}</div>
    <select id="adControlType" class="md-select"
        on-change="onAdControlChange_">
      <template is="dom-repeat" items="[[adControlTypes_]]">
        <option value="[[item.value]]"
            selected="[[controlEqual_(item.value, adControlType_)]]">
          [[item.name]]
        </option>
      </template>
    </select>
  </div>
  <div hidden="[[!isHttpsByDefaultEnabled_]]" class="settings-box">
    <div class="start">$i18n{httpsUpgradeControlLabel}</div>
    <select id="httpsUpgradeControlType" class="md-select"
        on-change="onHttpsUpgradeControlChange_">
      <template is="dom-repeat" items="[[httpsUpgradeControlTypes_]]">
        <option value="[[item.value]]"
            selected="[[controlEqual_(item.value, httpsUpgradeControlType_)]]">
          [[item.name]]
        </option>
      </template>
    </select>
  </div>
  <settings-toggle-button id="noScriptControlType"
      class="cr-row"
      pref="{{prefs.shunya.no_script_default}}"
      label="$i18n{noScriptControlLabel}"
      on-settings-boolean-control-change="onNoScriptControlChange_">
  </settings-toggle-button>
  <div class="settings-box">
    <div class="start">$i18n{fingerprintingControlLabel}</div>
    <select id="fingerprintingControlType" class="md-select"
        on-change="onFingerprintingControlChange_">
      <template is="dom-repeat" items="[[fingerprintingControlTypes_]]">
        <option value="[[item.value]]"
            selected="[[controlEqual_(item.value, fingerprintingControlType_)]]">
          [[item.name]]
        </option>
      </template>
    </select>
  </div>
  <div class="settings-box">
    <div class="start">$i18n{cookieControlLabel}</div>
    <select id="cookieControlType" class="md-select"
        on-change="onCookieControlChange_">
      <template is="dom-repeat" items="[[cookieControlTypes_]]">
        <option value="[[item.value]]"
            selected="[[controlEqual_(item.value, cookieControlType_)]]">
          [[item.name]]
        </option>
      </template>
    </select>
  </div>
  <settings-toggle-button id="forgetFirstPartyStorageControlType"
    hidden="[[!isForgetFirstPartyStorageFeatureEnabled_]]"
    class="cr-row"
    label="$i18n{forgetFirstPartyStorageLabel}"
    sub-label="$i18n{forgetFirstPartyStorageSubLabel}"
    on-settings-boolean-control-change="onForgetFirstPartyStorageToggleChange_"
    pref="[[isForgetFirstPartyStorageEnabled_]]">
  </settings-toggle-button>
</div>
<settings-animated-pages id="filters" section="shields">
  <div route-path="default">
    <cr-link-row
      id="contentFiltersRow"
      class="hr"
      label="$i18n{adblockContentFilteringLabel}"
      sub-label="$i18n{adblockContentFilterLabelDesc}"
      on-click="onAdblockPageClick_"
    ></cr-link-row>
  </div>
  <template is="dom-if" route-path="/shields/filters">
    <settings-subpage page-title="$i18n{adblockContentFiltersLabel}">
      <adblock-subpage></adblock-subpage>
    </settings-subpage>
  </template>
</settings-animated-pages>
<div hidden="[[isAdBlockRoute_]]">
  <settings-toggle-button
      class="cr-row"
      pref="{{prefs.shunya.shields.stats_badge_visible}}"
      label="$i18n{showStatsBlockedBadgeLabel}">
  </settings-toggle-button>
  <settings-toggle-button
    class="cr-row"
    pref="{{prefs.shunya.de_amp.enabled}}"
    label="$i18n{deAmpSettingLabel}"
    sub-label="$i18n{deAmpSettingSubLabel}"
    learn-more-url="$i18n{deAmpLearnMoreURL}">
  </settings-toggle-button>
  <template is="dom-if" if="[[isDebounceFeatureEnabled_]]">
    <settings-toggle-button
      class="cr-row"
      pref="{{prefs.shunya.debounce.enabled}}"
      label="$i18n{debounceSettingLabel}"
      sub-label="$i18n{debounceSettingSubLabel}"
      learn-more-url="$i18n{debounceLearnMoreURL}">
    </settings-toggle-button>
  </template>
  <settings-toggle-button
      class="cr-row"
      pref="{{prefs.shunya.reduce_language}}"
      label="$i18n{reduceLanguageControlLabel}"
      sub-label="$i18n{reduceLanguageDesc}">
  </settings-toggle-button>
</div>
