<style include="cr-shared-style settings-shared iron-flex">
  :host {
    --shunya-primary-hover: #ff977d;
    --cr-input-background-color: var(--google-grey-100);
  }

  @media (prefers-color-scheme: dark) {
    :host {
      --cr-input-background-color: rgba(0, 0, 0, .3);
    }
  }

  .editor-box {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    background-color: var(--cr-input-background-color);
    padding: 5px 5px 5px 0;
    border-radius: 4px;
    border: 1px solid transparent;
  }

  .textbox {
    -webkit-appearance: none;
    display: inline-block;
    box-sizing: border-box;
    background: transparent;
    border: 0;
    outline: 0;
    word-break: break-all;
    white-space: pre-wrap;
    resize: none;
    overflow-wrap: normal;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    padding: 0 5px 0 5px;
    font-family: monospace;
    font-size: 13px;
    line-height: 1.5;
  }

  .textbox::selection {
    background-color: var(--shunya-primary-hover);
  }
</style>

<div>
  <div class="editor-box">
    <textarea
      type="text"
      spellcheck="false"
      class="textbox"
      on-input="handleInputChange_"
      value="{{value}}">
    </textarea>
  </div>
  <cr-button on-click="handleSave_">
    $i18n{adblockSaveChangesButtonLabel}
  </cr-button>
</div>
