<style include="settings-shared md-select iron-flex">
  .settings-row:not(:first-child) {
    border-top: var(--cr-separator-line);
  }

  #needsRestart {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0 -2px 2px 0 var(--shadow-color);
    box-sizing: border-box;
    left: 0;
    opacity: 1;
    padding: 16px;
    position: fixed;
    transform: translate(0);
    transition: all 225ms var(--ease-in-out);
    width: 100%;
    z-index: 10;
  }

  @media (prefers-color-scheme: dark) {
    #needsRestart {
      background-color: rgb(22, 23, 25);
    }
  }

  #needsRestart .flex:last-child {
    text-align: right;  /* csschecker-disable-line left-right */
  }

  .flex {
    align-self: center;
    flex: 1 1 auto;
  }

  .flex-container {
    display: flex;
    padding: 8px 1em;
  }

  .restart-notice {
    font-size: .9375rem;
    line-height: 1.4;
  }

  button.primary {
    background: var(--interactive-color);
    border: 0;
    border-radius: 3px;
    color: white;
    font-size: .875rem;
    padding: 14px 38px;
  }
</style>

<div hidden="[[isExtensionsManifestV2Routed_]]">
  <settings-toggle-button id="googleLoginForExtensions" class="cr-row first"
    pref="{{prefs.signin.allowed_on_next_startup}}" learn-more-url="$i18n{googleLoginLearnMoreURL}"
    label="$i18n{googleLoginForExtensionsDesc}">
    <template is="dom-if" if="[[shouldShowRestartForGoogleLogin_(
      prefs.signin.allowed_on_next_startup.value)]]">
      <cr-button on-click="restartBrowser_" slot="more-actions">
        $i18n{restart}
      </cr-button>
    </template>
  </settings-toggle-button>
  <settings-toggle-button id="hangoutsEnabled" class="cr-row" pref="{{prefs.shunya.hangouts_enabled}}" label="Hangouts"
    sub-label="$i18n{hangoutsEnabledDesc}" on-settings-boolean-control-change="onHangoutsEnabledChange_">
  </settings-toggle-button>
  <settings-toggle-button id="mediaRouterEnabled" class="cr-row" pref="{{prefs.shunya.enable_media_router_on_restart}}"
    label="Media Router" sub-label="$i18n{mediaRouterEnabledDesc}">
    <template is="dom-if" if="[[shouldShowRestartForMediaRouter_(
      prefs.shunya.enable_media_router_on_restart.value)]]">
      <cr-button on-click="restartBrowser_" slot="more-actions">
        $i18n{restart}
      </cr-button>
    </template>
  </settings-toggle-button>
  <settings-toggle-button id="webTorrentEnabled" class="cr-row" pref="{{prefs.shunya.webtorrent_enabled}}"
    label="WebTorrent" sub-label="$i18n{webTorrentEnabledDesc}"
    on-settings-boolean-control-change="onWebTorrentEnabledChange_">
  </settings-toggle-button>
  <settings-toggle-button id="widevineEnabled" class="cr-row" pref="[[widevineEnabledPref_]]" label="Widevine"
    sub-label="$i18n{widevineEnabledDesc}" on-settings-boolean-control-change="onWidevineEnabledChange_">
  </settings-toggle-button>
  <div class="settings-row" id="manageV2ExtensionsRow" hidden="[[!isExtensionsManifestV2FeatureEnabled_]]">
    <cr-link-row icon-class=" icon-external" label="$i18n{manageExtensionsV2Label}"
      sub-label="$i18n{manageExtensionsV2SubLabel}" on-click="openManageV2ExtensionPage_">
    </cr-link-row>
  </div>
  <div class="settings-row" id="manageExtensionsRow">
    <cr-link-row icon-class="icon-external" label="$i18n{manageExtensionsLabel}" on-click="openExtensionsPage_">
    </cr-link-row>
  </div>
  <div class="settings-row" id="manageKeyboardShortcutsRow">
    <cr-link-row icon-class="icon-external" label="$i18n{keyboardShortcuts}" on-click="openKeyboardShortcutsPage_">
    </cr-link-row>
  </div>
  <div class="settings-row" id="getMoreExtensionsRow">
    <cr-link-row label="$i18n{getMoreExtensionsLabel}" sub-label="$i18n{getMoreExtensionsSubLabel}"
      on-click="openWebStoreUrl_" external>
    </cr-link-row>
  </div>
  <template is="dom-if" if="{{ showRestartToast_ }}">
    <div id="needsRestart">
      <div class="flex-container">
        <div class="flex restart-notice" jstcache="0">$i18n{restartNotice}</div>
        <div class="flex">
          <button id="restartButton" class="primary" tabindex="9" on-click="restartBrowser_">
            $i18n{relaunchButtonLabel}
          </button>
        </div>
      </div>
    </div>
  </template>
</div>
<settings-animated-pages id="extensions-v2-subpage" section="extensions">
  <template is="dom-if" route-path="/extensions/v2">
    <settings-subpage page-title="$i18n{manageExtensionsV2Label}">
      <shunya-extensions-v2-subpage prefs="{{prefs}}"></shunya-extensions-v2-subpage>
    </settings-subpage>
  </template>
</settings-animated-pages>