<style include="cr-shared-style">
  #errorMessage {
    border-radius: 8px;
    background: rgb(255, 225, 147);
    box-shadow: 0 10px 32px var(--shadow-color);

    padding: 16px;

    position: fixed;
    left: 50%;
    top: 62px;
    width: 726px;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }

  .exclamation-icon {
    background-image: url(images/warning_triangle.svg);
    height: 20px;
    width: 20px;
  }

  .toast {
    color: rgb(29, 31, 37);
    cursor: default;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
  }

  .close {
    color: rgb(107, 112, 132);
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.03rem;
    line-height: 16px;
    margin-inline-start: auto;
    padding: 9px 0;
  }
</style>

<template is="dom-repeat" items="[[shunyaV2Extensions_]]">
  <settings-toggle-button id="[[item.id]]" class="cr-row" label="[[item.name]]" sub-label="[[item.description]]"
    on-settings-boolean-control-change="onExtensionV2EnabledChange_" checked="[[item.enabled]]" pref="[[itemPref_(item.enabled)]]"
    no-pref-set disabled="[[installInProgress_]]">
  </settings-toggle-button>
</template>
<template is="dom-if" if="{{showErrorToast_}}">
  <div id="errorMessage">
    <div class="exclamation-icon"></div>
    <div class="toast">{{toastMessage_}}</div>
    <div class="close" on-click="closeToast_">$i18n{extensionsV2ToastConfirmButtonLabel}</div>
  </div>
</template>