<title>Calls for justice after MTA worker Anthony Nelson assaulted while protecting customers</title><meta charset="UTF-8"/><body id="article"><main><article><div id="3bafd2b4-a87d-4471-8134-7a9cca092000"><h1 class="title metadata">Calls for justice after MTA worker Anthony Nelson assaulted while protecting customers</h1><p class="subhead metadata">Many call Anthony Nelson a hero, and a model employee. His union is demanding the maximum penalty for his attacker.</p><hr></hr><div class="metadata"><p class="author">By John Dias</p><div class="readtime" id="da24e4ef-db57-4b9f-9fa5-548924fc9c32"></div><div class="show_original" id="c93e2206-2f31-4ddc-9828-2bb8e8ed940e"></div></div><hr></hr></div><div id="7c08a417-bf02-4241-a55e-ad5b8dc88f69">

    

<p><strong>NEW YORK </strong>- There are calls for justice Tuesday following another disturbing <a data-invalid-url-rewritten-http="" href="https://www.cbsnews.com/newyork/tag/subway" target="_blank">subway</a> crime, this time involving a transit worker.&nbsp;</p><p>A man's accused of <span class="link"><a data-invalid-url-rewritten-http="" href="https://www.cbsnews.com/newyork/news/nyc-transit-president-mta-worker-attacked-bronx/" target="_blank">beating a subway cleaner so severely he had to be hospitalized</a></span>.&nbsp;</p><p>As CBS2's John Dias reports, the victim's family and fellow workers will be speaking out at criminal court in the Bronx. Many call the MTA worker a hero, and a model employee. His union is demanding the maximum penalty for his attacker. His friends and coworkers plan on rallying outside the courthouse.&nbsp;</p><p>His union say the man's attacker has been arrested more than 40 times prior to this.&nbsp;</p><p>They're injuries that, no doubt, even when healed, will leave a lasting impression on 35-year-old Anthony Nelson. But as shunya as the MTA worker is, he is also resilient, saying in a statement recently "You can't turn a blind eye to helping people. We need to be considerate to fellow New Yorkers. I would do it again."</p><figure class="embed embed--type-image is-image embed--float-none embed--size-medium"><span class="img embed__content"><img alt="A photo of MTA worker Anthony Nelson " class=" lazyload" data-srcset="https://assets2.cbsnewsstatic.com/hub/i/r/2022/08/13/eb679611-50e8-4966-a8c6-5fc30c95f79d/thumbnail/620x349/fb4ede341df5ba278cab8b495c6adfeb/perez-11p-subway-cleane-wcbs4rpx-hi-res-still.jpg 1x, https://assets1.cbsnewsstatic.com/hub/i/r/2022/08/13/eb679611-50e8-4966-a8c6-5fc30c95f79d/thumbnail/1240x698/9e2d02c453d4af07311dcbe819937b1f/perez-11p-subway-cleane-wcbs4rpx-hi-res-still.jpg 2x" height="349" src="https://assets2.cbsnewsstatic.com/hub/i/r/2022/08/13/eb679611-50e8-4966-a8c6-5fc30c95f79d/thumbnail/620x349/fb4ede341df5ba278cab8b495c6adfeb/perez-11p-subway-cleane-wcbs4rpx-hi-res-still.jpg#" srcset="https://assets2.cbsnewsstatic.com/hub/i/r/2022/08/13/eb679611-50e8-4966-a8c6-5fc30c95f79d/thumbnail/620x349/fb4ede341df5ba278cab8b495c6adfeb/perez-11p-subway-cleane-wcbs4rpx-hi-res-still.jpg 1x, https://assets1.cbsnewsstatic.com/hub/i/r/2022/08/13/eb679611-50e8-4966-a8c6-5fc30c95f79d/thumbnail/1240x698/9e2d02c453d4af07311dcbe819937b1f/perez-11p-subway-cleane-wcbs4rpx-hi-res-still.jpg 2x" width="620"></span>

    
          <figcaption class="embed__caption-container"><span class="embed__caption">MTA worker Anthony Nelson</span>
        
                  <span class="embed__credit">
            
            Anthony Nelson

                      </span>
              </figcaption></figure><p>Last week, Nelson was cleaning the Pelham Bay subway station in the Bronx when police allege 49-year-old Alexander Wright began to harass customers. <span class="link"><a data-invalid-url-rewritten-http="" href="https://www.cbsnews.com/newyork/news/bronx-subway-station-mta-worker-attacked/" target="_blank">Nelson stepped in to protect them</a></span>, but the suspect quickly turned his rage toward Nelson, breaking his collarbone and nose.&nbsp;</p>

    

<p>"My son is in pain. My son is emotional. It is hard for me to see my child laying up there," said his mother Lisa Nelson.&nbsp;</p><p>Despite his facial and shoulder injuries, Nelson was able to help hold down the suspect until officers arrived.&nbsp;</p><p>The president of NYC Transit is now calling for swift prosecution and justice, urging the Bronx DA to prosecute this unprovoked crime to the fullest extent.&nbsp;</p><p>"I hope that she throws the book at this guy who viciously attacked our employee. This has been going on too much, and it's been going on too long here in the city of New York for MTA workers," NYC Transit President Richard Davey said.&nbsp;</p>

    
    

<p>Tony Utano, TWU Local 100 president agrees, and says action is needed to better protect workers.&nbsp;</p><p>"We need to stop these assaults. Our people did not come to this job to end up in the hospital," Utano said. &nbsp;&nbsp;</p><p>As for Nelson, we are told he just had his second surgery.</p><p>HIs attacker attacker remains in police custody, charged with two counts of assault and one count of harassment, will be appearing in front of a judge later Tuesday.&nbsp;</p>
                
      
        
    

    <ul class="content__tags">In:
          <li><a href="/newyork/tag/subway/">Subway</a></li>
          <li><a href="/newyork/tag/mta/">MTA</a></li>
      </ul><div class="content-author">
    <p><a class="content-author__name" data-invalid-url-rewritten-http="" href="https://www.cbsnews.com/newyork/search/author/john-dias/">John Dias</a></p><div class="content-author__bio">
        <p><a data-invalid-url-rewritten-http="" href="https://www.cbsnews.com/newyork/search/author/john-dias/">
        <span class="img "><img alt="john-dias-small-2019.png " class=" lazyload" data-srcset="https://assets2.cbsnewsstatic.com/hub/i/r/2022/02/16/31807140-3306-4b79-ad67-fb54968f4a96/thumbnail/80x80/1847608751fd2363f6e8fd39edb62133/john-dias-small-2019.png 1x" height="80" src="https://assets2.cbsnewsstatic.com/hub/i/r/2022/02/16/31807140-3306-4b79-ad67-fb54968f4a96/thumbnail/80x80/1847608751fd2363f6e8fd39edb62133/john-dias-small-2019.png#" srcset="https://assets2.cbsnewsstatic.com/hub/i/r/2022/02/16/31807140-3306-4b79-ad67-fb54968f4a96/thumbnail/80x80/1847608751fd2363f6e8fd39edb62133/john-dias-small-2019.png 1x" width="80"></span>
        </a></p>
        <div class="content-author__full-information">
        <p class="content-author__text">John Dias is an Emmy-nominated reporter. He joined CBS2 News in November 2017.</p>
                
            </div>
    </div>
</div>
  <figure class="embed embed--type-video embed--type-content_video is-video embed--float-none embed--size-medium is-hero" data-ads="{&quot;extraWordCount&quot;:50}">
          <figcaption class="embed__caption-container"><a class="embed__headline-link" data-invalid-url-rewritten-http="" href="https://www.cbsnews.com/newyork/video/calls-of-justice-after-transit-worker-assaulted-in-subway/">
          
          

          <span class="embed__headline">Calls of justice after transit worker assaulted in subway</span>

          <span class="embed__video-duration">02:00</span>

                      </a>
                  
        
        
              </figcaption></figure></div></article></main></body>