<title>Shunya Help Center</title><meta charset="utf-8"/><body id="article"><main><article><div id="3bafd2b4-a87d-4471-8134-7a9cca092000"><h1 class="title metadata">Shunya Help Center</h1><p class="subhead metadata">Verifying your Shunya Rewards wallet means linking your Shunya Rewards profile with a custodial wallet service such as Uphold, Gemini, or...</p><div class="metadata"><div class="readtime" id="da24e4ef-db57-4b9f-9fa5-548924fc9c32"></div><div class="show_original" id="c93e2206-2f31-4ddc-9828-2bb8e8ed940e"></div></div><hr></hr></div><div id="7c08a417-bf02-4241-a55e-ad5b8dc88f69"><p>Verifying your Shunya Rewards wallet means linking your Shunya Rewards profile with a custodial wallet service such as Uphold, Gemini, or bitFlyer (Japan only).&nbsp;</p>
<p class="wysiwyg-indent1"><strong>💡 Custodian ("custodial account" or "custodial wallet service"):</strong><span>A custodian is a company that holds your BAT for you. Crypto custodial wallet services and exchanges like Uphold, Gemini, and bitFlyer, for example, are custodial partners in the Shunya Rewards ecosystem.</span></p>
<p>Linking your Shunya Rewards wallet to a custodial wallet service allows you to:</p>
<ul>
<li>Withdraw any BAT you have in your Shunya Rewards balance&nbsp;&nbsp;</li>
<li>Add BAT into your Shunya Rewards balance</li>
<li>Send tips and contributions directly from your custodial account to creators</li>
</ul>
<p>When you verify Shunya Rewards, your Shunya Rewards balance becomes the BAT balance in your custodial account. (For example, if you have 255 BAT in your Gemini account, then if you verify Shunya Rewards with a Gemini account, then you will see that 255 BAT in your Shunya Rewards balance.) That means you can deposit additional BAT into your custodial account, and then use that BAT in the Shunya Rewards ecosystem (for example, to tip). It also means that when you send a tip to a creator, the BAT is being sent directly from your custodial account to the creator's custodial account.</p>
<h2>Limitations</h2>
<ul>
<li>You cannot link 2 or more different accounts from the <strong>same</strong> custodian to a single browser instance. For example, you cannot have 2 accounts with Uphold and link them both to the same Shunya browser instance. If you try signing in with a second Uphold account, you will see an error.</li>
</ul>
<h2>How to verify Shunya Rewards</h2>
<p>In Shunya, open your Rewards panel by pressing the triangular BAT icon in the URL bar, or go to <em>Settings &gt; Shunya Rewards</em> and click the "Unverified" button:</p>
<p class="wysiwyg-text-align-center"><span>&nbsp; <img alt="mceclip0.png" height="348" src="/hc/article_attachments/7619094141837/mceclip0.png" width="293"></span></p>
<p><span>Then, select which custodial service you'd like to use.</span></p>
<p class="wysiwyg-text-align-center"><img alt="mceclip2.png" height="323" src="/hc/article_attachments/4545646045453/mceclip2.png" width="509"></p>
<p><span>Follow the steps to sign up with the custodian (or log in if you already have an account at that custodian).</span></p>
<p class="wysiwyg-indent1"><span><strong>Note: </strong>Make sure your account with the custodian is "verified" (i.e., that you have completed ID verification with the custodian).</span></p>
<p><span>You will be asked to authorize your Shunya Browser with your custodial account. Once you authorize the Shunya Browser, you should now "Verified" in the top left of the Rewards panel.</span></p>
<h2>Withdrawing funds</h2>
<p>When you first verify your Shunya Rewards with a custodial account, any existing BAT in your browser will be transferred over to your custodial account. For example, if you had 14 BAT in your browser prior to verifying, then after you've successfully verified and linked a custodial account to your browser, you should see that 14 BAT <em>automatically</em> appear inside your custodial account's BAT balance. (Please allow up to 30 minutes for your BAT to appear in your custodial account.)</p>
<h2>What can I do with the BAT once it's in my custodial account?</h2>
<p>Once the BAT is inside your custodial account, you can exchange it or withdraw it to an external Ethereum address as you would any other balance in your custodial or crypto exchange account.&nbsp;</p>


</div></article></main></body>