<style include="settings-shared md-select iron-flex">
  .settings-row:not(:first-child) {
    border-top: var(--cr-separator-line);
  }
</style>
<settings-toggle-button
  class="cr-row"
  label="$i18n{shunyaRewardsShowShunyaRewardsButtonLabel}"
  pref="{{prefs.shunya.rewards.show_shunya_rewards_button_in_location_bar}}">
</settings-toggle-button>
<settings-toggle-button
  class="cr-row"
  label="$i18n{shunyaRewardsShowTipButtonsLabel}"
  pref="{{prefs.shunya.rewards.inline_tip_buttons_enabled}}">
    <template
      is="dom-if"
      if="[[shouldShowRestartButtonForTipButtons_(
              prefs.shunya.rewards.inline_tip_buttons_enabled.value,
              prefs.shunya.rewards.inline_tip.reddit.value,
              prefs.shunya.rewards.inline_tip.twitter.value,
              prefs.shunya.rewards.inline_tip.github.value)]]"
      restamp>
      <cr-button on-click="restartBrowser_" slot="more-actions">
        $i18n{restart}
      </cr-button>
    </template>
</settings-toggle-button>
<template is="dom-if"
  if="[[prefs.shunya.rewards.inline_tip_buttons_enabled.value]]">
  <div class="list-frame vertical-list">
    <settings-checkbox class="cr-row list-item"
      pref="{{prefs.shunya.rewards.inline_tip.github}}"
      label="$i18n{shunyaRewardsInlineTipGithubLabel}">
    </settings-checkbox>
    <settings-checkbox class="cr-row list-item"
      pref="{{prefs.shunya.rewards.inline_tip.reddit}}"
      label="$i18n{shunyaRewardsInlineTipRedditLabel}">
    </settings-checkbox>
    <settings-checkbox class="cr-row list-item"
      pref="{{prefs.shunya.rewards.inline_tip.twitter}}"
      label="$i18n{shunyaRewardsInlineTipTwitterLabel}">
    </settings-checkbox>
  </div>
</template>
<div class="settings-row">
  <template is="dom-if" if="[[prefs.shunya.rewards.enabled.value]]" restamp>
    <cr-link-row label="$i18n{shunyaRewardsPageLabel}"
                 on-click="openRewardsPage_" external>
    </cr-link-row>
  </template>
  <template is="dom-if" if="[[!prefs.shunya.rewards.enabled.value]]" restamp>
    <cr-link-row label="$i18n{shunyaRewardsDisabledLabel}"
                 sub-label="$i18n{shunyaRewardsDisabledSubLabel}"
                 on-click="openRewardsPanel_" external>
    </cr-link-row>
  </template>
</div>
