
<style include="settings-shared">
  .sync-setup
  {
    /* break out of indent for the setup only */
    margin-left: calc(var(--cr-section-indent-padding) * -1);
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto;
    column-gap: 20px;
  }
  .graphic img
  {
    max-width: 100%;
  }
  .actions
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }
  paper-spinner-lite
  {
    width: 16px;
    height: 16px;
  }
</style>
<div class="sync-setup">
  <div class="graphic">
    <img alt="" src="chrome://settings/shunya_sync_page/start_icon.svg" />
  </div>
  <div class="content">
    <h1>$i18n{shunyaSyncSetupTitle}</h1>
    <p>$i18n{shunyaSyncSetupSubtitle}</p>
    <div class="actions">
      <cr-button class="action-button"
        on-click="handleStartSyncChain_"
        disabled="[[isGettingSyncCode_]]"
      >
        <paper-spinner-lite hidden="[[!isGettingSyncCode_]]">
        </paper-spinner-lite>
        <span hidden="[[isGettingSyncCode_]]">$i18n{shunyaSyncStartNewChain}</span>
      </cr-button>
      <cr-button
        on-click="handleJoinSyncChain_"
        disabled="[[isGettingSyncCode_]]"
      >
        $i18n{shunyaSyncEnterCode}
      </cr-button>
    </div>
  </div>
</div>

<template is="dom-if" if="[[syncCodeDialogType]]" restamp>
  <settings-shunya-sync-code-dialog
    code-type="{{syncCodeDialogType}}"
    sync-code="{{syncCode}}"
    sync-code-validation-error="{{syncCodeValidationError_}}"
    on-done="handleSyncCodeDialogDone_"
  ></settings-shunya-sync-code-dialog>
</template>
