<style include="settings-shared iron-flex">
</style>
<settings-animated-pages id="pages" section="shunyaSync">
  <div route-path="default">
    <cr-link-row id="shunya-sync-setup"
      label$="[[syncLabel_]]"
      on-click="onSyncTap_"
      role-description="$i18n{subpageArrowRoleDescription}">
    </cr-link-row>
  </div>

  <template is="dom-if" route-path="/shunyaSync/setup">
    <settings-subpage
      associated-control="[[$$('#shunya-sync-setup')]]"
      page-title="[[syncLabel_]]">
      <settings-shunya-sync-subpage
          sync-status="[[syncStatus_]]">
      </settings-shunya-sync-subpage>
    </settings-subpage>

  </template>
</settings-animated-pages>
