<style include="cr-shared-style settings-shared iron-flex">
  #sync-separator
  {
    border-bottom: var(--cr-separator-line);
  }

  #disabled-by-admin-icon
  {
    text-align: center;
    width: 40px;
  }
  #sync-page-loading
  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
  }
  #sync-section
  {
    display: block;
    padding-block-end: 0;
    padding-block-start: 0;
    padding-inline-end: var(--cr-section-padding);
    padding-inline-start: var(--cr-section-indent-padding);
  }
</style>

<!-- Disabled content -->
<div class="cr-row first" hidden="[[!syncDisabledByAdmin_]]">
  <iron-icon id="disabled-by-admin-icon" icon="cr20:domain"></iron-icon>
  <div class="flex cr-padded-text">
    $i18n{syncDisabledByAdministrator}
  </div>
</div>

<!-- Sync words decryption error, safe storage locked-->
<div class="cr-row first" hidden="[[!hasLockedSafeStorage_]]">
  <div class="flex cr-padded-text">
    $i18nRaw{shunyaSyncPassphraseDecryptionErrorMessage}
  </div>
</div>

<!-- Sync words decryption error, safe storage unlocked-->
<div class="cr-row first" hidden="[[!hasUnlockedSafeStorageCannotDecryptSeed_]]">
  <div class="flex cr-padded-text">
    <p>$i18nRaw{shunyaSyncPassphraseDecryptionErrorUnlockedSsMessage}</p>
    <div class="actions">
      <cr-button class="action-button"
        on-click="onRejoin_"
      >
        $i18n{shunyaSyncLeaveAndRejoinTheChainButton}
      </cr-button>
    </div>
  </div>
</div>

<!-- Page ends here if sync is disabled -->
<div id="sync-separator" hidden="[[!syncSectionDisabled_]]"></div>

<!-- Non-disabled content (setup or configure) -->
<template is="dom-if" if="[[!syncSectionDisabled_]]">
  <div id="sync-section">
    <div id="sync-page-loading"
        hidden$="[[!isStatus_('spinner', pageStatus_)]]">
      $i18n{syncLoading}
    </div>

    <template is="dom-if" if="[[isStatus_('configure', pageStatus_)]]">
      <settings-shunya-sync-configure syncStatus="[[syncStatus]]">
      </settings-shunya-sync-configure>
    </template>

    <template is="dom-if" if="[[isStatus_('setup', pageStatus_)]]">
      <settings-shunya-sync-setup on-setup-success="onSetupSuccess_"
       sync-code-dialog-type="{{syncCodeDialogType}}">
      </settings-shunya-sync-setup>
    </template>
  </div>
</template>
