/*Copyright (c) 2022 The Shunya Authors. All rights reserved.*/
/*This Source Code Form is subject to the terms of the Mozilla Public*/
/*License, v. 2.0. If a copy of the MPL was not distributed with this file,*/
/*you can obtain one at http://mozilla.org/MPL/2.0/.*/

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
