<link rel="import" href="chrome://resources/cr_elements/md_select.css.html">
<style include="settings-shared md-select iron-flex">
</style>
<template is="dom-if" if="[[!isGoogleSignInFeatureEnabled_]]">
    <settings-toggle-button id="googleLoginControlType"
        class="cr-row first"
        pref="{{prefs.shunya.google_login_default}}"
        label="$i18n{googleLoginControlLabel}"
        learn-more-url="$i18n{googleLoginLearnMoreURL}">
    </settings-toggle-button>
</template>
<settings-toggle-button id="fbEmbedControlType"
    class="cr-row"
    pref="{{prefs.shunya.fb_embed_default}}"
    label="$i18n{fbEmbedControlLabel}">
</settings-toggle-button>
<settings-toggle-button id="twitterEmbedControlType"
    class="cr-row"
    pref="{{prefs.shunya.twitter_embed_default}}"
    label="$i18n{twitterEmbedControlLabel}">
</settings-toggle-button>
<settings-toggle-button id="linkedInEmbedControlType"
    class="cr-row"
    pref="{{prefs.shunya.linkedin_embed_default}}"
    label="$i18n{linkedInEmbedControlLabel}">
</settings-toggle-button>
