<link rel="import" href="chrome://resources/cr_elements/md_select.css.html">
<style include="settings-shared md-select iron-flex">
</style>
<div class="settings-box first">
  <div class="flex cr-padded-text" aria-hidden="true">
    $i18n{shunyaNewTabNewTabPageShows}
  </div>
  <settings-dropdown-menu label="$i18n{shunyaNewTabNewTabPageShows}"
      pref="{{prefs.shunya.new_tab_page.shows_options}}"
      menu-options="[[newTabShowOptions_]]">
  </settings-dropdown-menu>
</div>
<template is="dom-if" if="[[showNewTabDashboardSettings_]]">
  <div class="settings-row">
    <cr-link-row class="hr"
      label="$i18n{shunyaNewTabNewTabCustomizeWidgets}"
      on-click="openNewTabPage_" external>
    </cr-link-row>
  </div>
</template>
