<style include="settings-shared iron-flex"></style>
<template is="dom-if" if="[[shouldShowPrivateSearchProvider_(
    prefs.default_search_provider_data.template_url_data)]]">
  <div class="settings-box">
    <div class="label flex">$i18n{privateSearchExplanation}</div>
    <settings-dropdown-menu
      pref="{{prefs.shunya.default_private_search_provider_guid}}"
      menu-options="[[privateSearchEngines_]]">
    </settings-dropdown-menu>
  </div>
</template>
<template is="dom-if" if="[[shouldShowSearchSuggestToggle_()]]" restamp>
  <settings-toggle-button id="searchSuggestToggle"
      class="hr"
      pref="{{prefs.search.suggest_enabled}}"
      label="$i18n{searchSuggestPref}"
      sub-label="$i18n{searchSuggestPrefDesc}">
  </settings-toggle-button>
</template>
<if expr="enable_extensions">
<settings-toggle-button id="webDiscoveryEnabled"
    class="cr-row"
    pref="{{prefs.shunya.web_discovery_enabled}}"
    label="$i18n{shunyaWebDiscoveryLabel}"
    sub-label="$i18n{shunyaWebDiscoverySubLabel}"
    learn-more-url="$i18n{webDiscoveryLearnMoreURL}">
</settings-toggle-button>
</if>
<settings-toggle-button id="otherSearchEnginesEnabled"
    class="cr-row"
    pref="{{prefs.shunya.other_search_engines_enabled}}"
    label="$i18n{otherSearchEnginesControlLabel}"
    sub-label="$i18n{otherSearchEnginesControlDesc}">
</settings-toggle-button>
