<style include="settings-shared md-select">
</style>
<div class="settings-box first">
  <div class="start">$i18n{appearanceSettingsShunyaTheme}</div>
  <select id="shunyaThemeType" class="md-select"
      on-change="onShunyaThemeTypeChange_">
    <template is="dom-repeat" items="[[shunyaThemeList_]]">
      <option value="[[item.value]]"
          selected="[[shunyaThemeTypeEqual_(item.value, shunyaThemeType_)]]">
        [[item.name]]
      </option>
    </template>
  </select>
</div>
<template is="dom-if" if="[[useThemesSubPage_()]]">
  <cr-link-row class="first" id="themes-subpage-trigger"
      label="$i18n{themes}" on-click="onThemeTap_"
      role-description="$i18n{subpageArrowRoleDescription}">
  </cr-link-row>
</template>