<style include="settings-shared iron-flex">
  .border {
    border-top: var(--cr-separator-line);
    border-bottom: var(--cr-separator-line);
  }
</style>

<div class="cr-row">$i18n{sideBar}</div>
<div class="list-frame">
  <div class="cr-row list-item">
    <div class="flex" id="labelWrapper">
      <div class="label">$i18n{appearanceSettingsShowOptionTitle}</div>
      <div class="secondary label" id="sub-label">
        <span id="sub-label-text">
          [[sidebarShowEnabledLabel_]]
        </span>
      </div>
    </div>
    <settings-dropdown-menu
      pref="{{prefs.shunya.sidebar.sidebar_show_option}}"
      on-settings-control-change="onShowOptionChanged_"
      menu-options="[[sidebarShowOptions_]]">
    </settings-dropdown-menu>
  </div>
  <settings-toggle-button
    class="cr-row border list-item"
    pref="{{prefs.shunya.show_side_panel_button}}"
    label="$i18n{appearanceSettingsShowSidebarButton}">
  </settings-toggle-button>
  <settings-radio-group
    pref="{{prefs.side_panel.is_right_aligned}}"
    group-aria-label="$i18n{sideBar}">
    <controlled-radio-button
      class="list-item"
      pref="[[prefs.side_panel.is_right_aligned]]"
      label="$i18n{sidePanelAlignRight}"
      name="true"
      no-extension-indicator>
    </controlled-radio-button>
    <controlled-radio-button
      class="list-item"
      pref="[[prefs.side_panel.is_right_aligned]]"
      label="$i18n{sidePanelAlignLeft}"
      name="false"
      no-extension-indicator>
    </controlled-radio-button>
  </settings-radio-group>
</div>
