<style include="settings-shared">
  /* The theme mixes a link and a cr-button divided by a separator with
    * grit expressions and dom-if templates. That leads to a tricky thing
    * to style correctly, these are a workaround. */
  #themeRow cr-button {
    margin-inline-end: 20px;
  }

  #themeRow .separator {
    margin-inline-start: 0;
  }

  .radio-group {
    margin-left: 80px;
    margin-bottom: 20px;
  }
</style>

<div class="radio-group">
  <settings-radio-group
      pref="{{prefs.shunya.new_tab_page.super_referral_themes_option}}">
    <controlled-radio-button name="[[themeValues_.DEFAULT]]"
        pref="{{prefs.shunya.new_tab_page.super_referral_themes_option}}"
        label="$i18n{appearanceShunyaDefaultImagesOptionLabel}">
    </controlled-radio-button>
    <controlled-radio-button name="[[themeValues_.SUPER_REFERRAL]]"
        pref="{{prefs.shunya.new_tab_page.super_referral_themes_option}}"
        label="[[getSuperReferralThemeName_()]]">
    </controlled-radio-button>
  </settings-radio-group>
</div>
<div class="settings-box block first">
  <div class="hr settings-row continuation" id="themeRow">
    <cr-link-row class="label first"
        label="$i18n{appearanceSettingsGetMoreThemes}"
        sub-label="[[themeSublabel_]]"
        on-click="openThemeUrl_" external></cr-link-row>
<if expr="not is_linux">
    <template is="dom-if" if="[[prefs.extensions.theme.id.value]]">
      <div class="separator"></div>
      <cr-button id="useDefault" on-click="onUseDefaultTap_">
        $i18n{resetToDefaultTheme}
      </cr-button>
    </template>
</if>
<if expr="is_linux">
    <div class="settings-row continuation"
        hidden="[[!showThemesSecondary_(
            prefs.extensions.theme.id.value, useSystemTheme_)]]"
        id="themesSecondaryActions">
      <div class="separator"></div>
      <template is="dom-if" if="[[showUseClassic_(
          prefs.extensions.theme.id.value, useSystemTheme_)]]" restamp>
        <cr-button id="useDefault" on-click="onUseDefaultTap_">
          $i18n{useClassicTheme}
        </cr-button>
      </template>
      <template is="dom-if" if="[[showUseSystem_(
          prefs.extensions.theme.id.value, useSystemTheme_)]]" restamp>
        <cr-button id="useSystem" on-click="onUseSystemTap_">
          $i18n{useGtkTheme}
        </cr-button>
      </template>
    </div>
</if>
  </div>
</div>
