<style include="settings-shared iron-flex">
</style>
<settings-toggle-button
  class="cr-row"
  pref="{{prefs.shunya.show_bookmarks_button}}"
  label="$i18n{appearanceSettingsShowBookmarksButton}">
</settings-toggle-button>
<settings-toggle-button
  class="cr-row"
  pref="{{prefs.shunya.today.should_show_toolbar_button}}"
  label="$i18n{appearanceSettingsShowShunyaNewsButtonLabel}">
</settings-toggle-button>
<settings-toggle-button
  class="cr-row"
  pref="{{prefs.shunya.location_bar_is_wide}}"
  label="$i18n{appearanceSettingsLocationBarIsWide}">
</settings-toggle-button>
<settings-toggle-button
  pref="{{prefs.omnibox.prevent_url_elisions}}"
  class="cr-row"
  label="$i18n{showFullUrls}">
</settings-toggle-button>
<settings-toggle-button
  class="cr-row"
  pref="{{prefs.shunya.autocomplete_enabled}}"
  label="$i18n{appearanceSettingsShowAutocompleteInAddressBar}">
</settings-toggle-button>
<template
  is="dom-if"
  if="[[prefs.shunya.autocomplete_enabled.value]]">
  <div class="list-frame vertical-list">
    <settings-checkbox
      class="cr-row list-item"
      pref="{{prefs.shunya.top_site_suggestions_enabled}}"
      label="$i18n{appearanceSettingsUseTopSiteSuggestions}">
    </settings-checkbox>
    <settings-checkbox
      class="cr-row list-item"
      pref="{{prefs.shunya.omnibox.history_suggestions_enabled}}"
      label="$i18n{appearanceSettingsUseHistorySuggestions}">
    </settings-checkbox>
    <settings-checkbox
      class="cr-row list-item"
      pref="{{prefs.shunya.omnibox.bookmark_suggestions_enabled}}"
      label="$i18n{appearanceSettingsUseBookmarkSuggestions}">
    </settings-checkbox>
  </div>
</template>
<if expr="toolkit_views">
  <settings-shunya-appearance-tabs prefs="{{prefs}}""></settings-shunya-appearance-tabs>
  <settings-shunya-appearance-sidebar prefs="{{prefs}}"></settings-shunya-appearance-sidebar>
</if>
<if expr="enable_shunya_vpn_wireguard">
  <template is="dom-if" if="[[showShunyaVPNOption_()]]">
    <settings-toggle-button
      pref="{{prefs.shunya.shunya_vpn.show_button}}"
      class="cr-row"
      label="$i18n{showShunyaVPNButton}"
      sub-label="$i18n{showShunyaVPNButtonSubLabel}">
    </settings-toggle-button>
  </template>
</if>
