html {
  --shunya-toolbar-gradient: linear-gradient(-90deg, #A3278F 0%, #E52F50 100%); /* linear gradient: red500 -> magenta600 */
  --md-background-color: rgb(233, 236, 239); /* neutral200 */
  --md-loading-message-color: #5E6175; /* grey700 */
  --md-toolbar-color: rgb(200, 44, 109); /* not design system color. middle value of toolbar's linear gradient. */
  /* --md-toolbar-color: linear-gradient(to left, #b10e95, #e72f4e) !important; */
}

@media (prefers-color-scheme: dark) {
  html {
    --md-background-color: rgb(30, 32, 41); /* grey900 */
    --md-loading-message-color: #C2C4CF; /* grey400 */
  }
}
