/* Copyright (c) 2019 The Shunya Authors. All rights reserved.
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at https://mozilla.org/MPL/2.0/. */

/* This is a replacement for:
 * chromium/ui/webui/resources/css/text_defaults_md.css
 * An alternative approach would be to patch that file
 * to import this file, which could mark as !important
 * anything to take precedence.
 */

@import url(//resources/shunya/fonts/poppins.css);

html {
  /* TODO(dbeam): remove this soon. Prefer dir= in HTML. */
  direction: $i18n{textdirection};
}

body {
  font-family: Poppins, $i18nRaw{fontfamily};
  font-size: 81.25%;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: Poppins, $i18nRaw{fontfamily};
}
