.button {
  appearance: none;
  position: relative;
  cursor: pointer;
  opacity: 1;
  background: var(--background);
  border-radius: 24px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-family: var(--shunya-font-family-default);
  font-weight: 600;
  /* Use box-shadow for borders so we get a smooth (and layout-free performance-cheap)
    animation as well as multiple borders. */
  box-shadow: 0 0 0 var(--outer-border-size) var(--outer-border-color),
              inset 0 0 0 var(--inner-border-size) var(--inner-border-color);
  transition: box-shadow .12s ease-in-out,
              color .12s ease-in-out,
              background-color .12s ease-in-out,
              opacity .12s ease-in-out;
  outline: none;
  color: var(--color);


  &.isCallToAction {
    width: 100%;
    max-width: 800px;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }

  &:active,
  &.isLoading {
    opacity: .7;
  }

  &.isLoading {
    .content {
      // keep layout when showing loading indicator so we do not flash to
      // different size
      visibility: hidden;
    }
  }

  //
  // Size Variations
  //
  // Defaults: regular size

  --button-icon-height: 18px; // For children to read
  --button-line-height: 20px;
  padding: 10px 22px;
  font-size: 13px;

  &.isTiny {
    --button-icon-height: 16px;
    --button-line-height: 18px;
    padding: 3px 14px;
    font-size: 12px;
  }

  &.isSmall {
    --button-icon-height: 16px;
    padding: 6px 18px;
  }

  &.isLarge {
    --button-icon-height: 20px;
    padding: 13px 24px;
    font-size: 14px;
  }

  &.isJumbo {
    --button-icon-height: 22px;
    padding: 17px 30px;
    font-size: 16px;
  }

  //
  // Level variations
  //
  // Defaults: secondary (a.k.a. outline) level

  // border outside box model, does not affect layout
  --outer-border-size: 0px;
  --outer-border-color: transparent;
  // border inside box modal, also does not affect layout
  // and supports smooth transitions
  --inner-border-size: 1px;
  --inner-border-color: var(--interactive8);
  --background: transparent;
  --color: var(--text1);
  &:hover {
    --inner-border-size: 2px;
    --inner-border-color: var(--interactive5);
    --color: var(--interactive5);
    @media (prefers-color-scheme: dark) {
      --color: var(--blurple300);
      --inner-border-color: var(--interactive6);
    }
  }
  &:focus-visible {
    --outer-border-size: 3px;
    --outer-border-color: var(--focus-border);
  }
  &[disabled] {
    --inner-border-color: var(--disabled);
    --color: var(--disabled);
  }

  &.isPrimary {
    --background: var(--interactive5);
    --color: white;
    --outer-border-size: 0px;
    --inner-border-size: 0px;
    &:hover {
      --background: var(--interactive4);
      @media (prefers-color-scheme: dark) {
        --background: var(--interactive6);
      }
    }
    &:focus-visible {
      --outer-border-size: 3px;
      --outer-border-color: var(--focus-border);
    }
    &[disabled] {
      --background: var(--disabled);
      --inner-border-color: transparent;
    }
  }

  &.isTertiary {
    --outer-border-size: 0px;
    --inner-border-size: 0px;
  }
}

.content {
  min-height: var(--button-line-height);
  line-height: var(--button-line-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--button-line-height) / 3);
}

.loadingIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translateX(-50%) translateY(-50%);
  width: auto;
  height: var(--button-icon-height);
  display: flex;
  color: inherit;
  opacity: .6;
}

.iconContainer {
  height: var(--button-icon-height);
}
