// Copyright (c) 2023 The Shunya Authors. All rights reserved.
// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this file,
// you can obtain one at https://mozilla.org/MPL/2.0/.

.container {
  width: 480px;
  height: 800px;
  border: 1px solid var(--leo-color-divider-subtle);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  background-color: var(--leo-color-container-background);
  color: var(--leo-color-text-primary);
  position: relative;
  overflow: hidden;
}
