<style include="settings-shared md-select">
  #bridgesGroup {
    padding: 0 var(--cr-section-padding) 0 54px;
    box-sizing: border-box;
  }

  #requestedBridges,
  #providedBridges {
    box-sizing: border-box;
    width: 100%;
    min-height: 70px;
    height: auto;
    resize: vertical;
  }

  #useBuiltIn {
    display: flex;
    justify-content: space-between;
  }

  settings-collapse-radio-button {
    padding-bottom: 12px;
  }

  settings-collapse-radio-button:not(:first-of-type) {
    --settings-collapse-separator-line: var(--cr-separator-line);
  }

  textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
  }
</style>

<settings-toggle-button id="torEnabled" class="cr-row" pref="[[torEnabledPref_]]" label="$i18n{torEnabledLabel}"
  sub-label="$i18n{torEnabledDesc}" disabled="[[disableTorOption_]]"
  on-settings-boolean-control-change="onTorEnabledChange_">
</settings-toggle-button>
<settings-toggle-button id="autoOnionLocation" pref="{{prefs.tor.auto_onion_location}}" class="cr-row" label="$i18n{autoOnionLocationLabel}"
  sub-label="$i18n{autoOnionLocationDesc}" disabled="[[!torEnabledPref_.value]]">
</settings-toggle-button>
<if expr="enable_extensions">
  <settings-toggle-button id="torSnowflake" pref="[[torSnowflakeExtensionEnabledPref_]]"
    label="$i18n{torSnowflakeExtensionLabel}" sub-label="$i18n{torSnowflakeExtensionDesc}"
    disabled="[[!torSnowflakeExtensionAllowed_]]" on-settings-boolean-control-change="onTorSnowflakeExtensionChange_"
    learn-more-url="https://support.shunya.com/hc/en-us/articles/9059440641421">
  </settings-toggle-button>
</if>
<settings-toggle-button id="useBridges" class="cr-row" label="$i18n{torUseBridgesTitle}"
  sub-label="$i18n{torUseBridgesDesc}" learn-more-url="https://support.shunya.com/hc/en-us/articles/7816553516045"
  pref="{{isUsingBridgesPref_}}" disabled="[[!torEnabledPref_.value]]"
  on-settings-boolean-control-change="onUseBridgesChange_">
  <template is="dom-if" if="[[isConfigChanged_]]">
    <cr-button id="apply" on-click="setBridgesConfig_" slot="more-actions">
      $i18n{torApplyChangesButton}
    </cr-button>
  </template>
</settings-toggle-button>
<cr-radio-group id="bridgesGroup" selectable-elements="settings-collapse-radio-button" selected="{{useBridgesValue_}}"
  on-selected-changed="onUseBridgesValueChanged_" hidden="[[!shouldShowBridgesGroup_]]">
  <settings-collapse-radio-button id="useBuiltIn" name="useBuiltIn" label="$i18n{torSelectBuiltInRadio}" no-collapse
    no-automatic-collapse expanded>
    <div slot="collapse" on-click="onSlotClick_">
      <select id="builtInBridgesType" class="md-select" on-change="onBuiltInBridgesSelect_"
        disabled="[[!usageEqual_('useBuiltIn', useBridgesValue_)]]">
        <template is="dom-repeat" items="[[builtInBridgesTypes_]]">
          <option value="[[item.value]]" selected="[[builtInTypeEqual_(item.value, builtinBridges_)]]">
            [[item.name]]
          </option>
        </template>
      </select>
    </div>
  </settings-collapse-radio-button>
  <settings-collapse-radio-button id="useRequested" name="useRequested" label="$i18n{torRequestBridgesRadio}"
    no-collapse no-automatic-collapse expanded>
    <div slot="collapse" on-click="onSlotClick_">
      <textarea id="requestedBridges" multiline="true" rows="3" readonly="true" value="[[requestedBridges_]]"
        placeholder="[[requestedBridgesPlaceholder_]]"
        disabled="[[!usageEqual_('useRequested', useBridgesValue_)]]"></textarea>
      <cr-button on-click="requestBridges_" disabled="[[!usageEqual_('useRequested', useBridgesValue_)]]">
        $i18n{torRequestNewBridgeButton}</cr-button>
    </div>
  </settings-collapse-radio-button>
  <settings-collapse-radio-button id="useProvided" name="useProvided" label="$i18n{torProvideBridgesRadio}" no-collapse
    no-automatic-collapse expanded>
    <div slot="collapse" on-click="onSlotClick_">
      <div>$i18n{torEnterBridgeInfoLabel}</div>
      <textarea id="providedBridges" multiline="true" rows="3" value="{{providedBridges_::input}}"
        placeholder="[[providedBridgesPlaceholder_]]"
        disabled="[[!usageEqual_('useProvided', useBridgesValue_)]]"></textarea>
    </div>
  </settings-collapse-radio-button>
</cr-radio-group>

<template is="dom-if" if="[[showRequestBridgesDialog_]]" restamp>
  <request-bridges-dialog id="requestBridgesDialog" on-close="showRequestBridgesDialogClosed_">
  </request-bridges-dialog>
</template>

<if expr="enable_extensions">
  <template is="dom-if" if="[[showTorSnowflakeInstallFailed_]]" restamp>
    <tor-snowflake-install-failed-dialog id="torSnowflakeInstallFailedDialog"
      on-close="torSnowflakeInstallFailedDialogClosed_">
    </tor-snowflake-install-failed-dialog>
  </template>
</if>
