/* #css_wrapper_metadata_start
 * #type=style
 * #scheme=relative
 * #css_wrapper_metadata_end */

/* Default/light theme button colors */
:host(:not([style])) {
  --shunya-text-color: #3b3e4f; /* grey800 */
  --shunya-brand-color: #ff7654; /* orange400 */
  --shunya-primary-hover: #ff977d; /* orange300 */
  --shunya-default-hover: rgba(255, 118, 84, 0.1); /* orange400 */
  --shunya-focus-outline: rgba(255, 118, 84, 0.4); /* orange400 */
  --ink-color: var(--shunya-brand-color) !important;
  --text-color: var(--shunya-text-color) !important;
  --text-color-action: white !important;
  --border-color: #c2c4cf !important; /* grey 400 */
  --active-shadow-rgb: 255,118,84 !important;
  --active-shadow-action-rgb: 255,118,84 !important;
  --bg-action: var(--shunya-brand-color) !important;
  /* TODO: Disabled colors:
  --disabled-bg-action: var(--google-grey-refresh-100);
  --disabled-bg: white;
  --disabled-border-color: var(--google-grey-refresh-100); */
  --hover-bg-action: var(--shunya-primary-hover) !important;
  --hover-bg-color: none !important;
  --hover-border-color: var(--shunya-brand-color) !important;
  --hover-shadow-action-rgb: 255, 118, 84 !important;
  --ink-color-action: white !important;
  font-family: Poppins, sans-serif !important;
  outline: none !important;
  border-radius: 100px !important; /* absurdly large to make sure is
                                      rounded at any height */
}
:host([role='menuitem']) {
  border-radius: 0px !important;
}
:host(:not([style]):hover) {
  --text-color: var(--shunya-brand-color) !important;
  --border-color: var(--text-color) !important;
}
/* Dark theme colors */
@media (prefers-color-scheme: dark) {
  :host(:not([style])) {
    --shunya-text-color: #ffffff;
    --border-color: #5e6175 !important; /* grey 700 */
  }
}
:host-context(.focus-outline-visible):host(:not([style]):focus) {
  box-shadow: 0 0 0 3px var(--shunya-focus-outline) !important;
}
