// Copyright (c) 2023 The Shunya Authors. All rights reserved.
// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this file,
// you can obtain one at https://mozilla.org/MPL/2.0/.

.turn {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  font: var(--leo-font-secondary-default-regular);
  color: var(--leo-color-text-primary);
  padding: 16px;
  background-color: var(--leo-color-page-background);
  margin-top: 16px;
}

.turnAI {
  background-color: transparent;
  margin-top: initial;
  padding-bottom: 0;
}

.caret {
  display: inline-block;
  margin-left: 5px;
  width: 8px;
  height: 12px;
  background-color: currentColor;
}

.suggestedQuestionsBox {
  padding: 16px 16px 16px 64px;
}

.suggestedQuestionLabel {
  --leo-icon-size: 18px;

  font: var(--leo-font-secondary-small-regular);
  color: var(--leo-color-text-secondary);
  padding-bottom: 16px;
  display: flex;
  gap: 6px;
}

.buttonText {
  display: flex;
  align-items: flex-start;
  text-align: left;
  font: var(--leo-font-secondary-default-regular);
}

.questionsList {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.avatar {
  --leo-icon-size: 18px;
  width: 32px;
  height: 32px;
  background-color: var(--leo-color-container-background);
  border-radius: 100px;
  flex-shrink: 0;
  color: var(--leo-color-icon-default);
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarAI {
  background: linear-gradient(314.42deg, #FA7250 8.49%, #FF1893 43.72%, #A78AFF 99.51%);
  color: white;
}

.message {
  margin: 0;
  white-space: pre-wrap;
  padding-top: 5px;
}
