// Copyright (c) 2023 The Shunya Authors. All rights reserved.
// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this file,
// you can obtain one at https://mozilla.org/MPL/2.0/.

.box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  font: var(--leo-font-primary-small-regular);
  color: var(--leo-color-text-secondary);
  position: relative;
}

.titleBox {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  flex: 1 1 auto;
}

.title {
  padding: 0;
  margin: 0;
}


.favIconBox {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid var(--leo-color-divider-subtle);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus-visible {
    outline: none;
    box-shadow: var(--leo-effect-focus-state);
  }

  img {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }
}

.tooltip {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 2;
  height: fit-content;
  max-width: 260px;
  background-color: var(--leo-color-container-background);
  padding: 16px;
  box-shadow: var(--leo-effect-elevation-03);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 0px;
    right: 10px;
    top: -5px;
    border: 5px solid transparent;
    border-top: 0;
    border-bottom: 5px solid var(--leo-color-container-background);
  }
}

.tooltipVisible {
  opacity: 1;
  visibility: visible;
  transition: none;
}
