/* Copyright (c) 2023 The Shunya Authors. All rights reserved.
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at https://mozilla.org/MPL/2.0/. */

body {
  background-color: var(--leo-color-container-background);
  color: var(--leo-color-text-primary);
  font: var(--leo-font-primary-default-regular);
  width: 100%;
  height: 100vh;
}

button {
  font: var(--leo-font-primary-default-regular);
}

#mountPoint {
  height: 100%;
}
