// Copyright (c) 2023 The Shunya Authors. All rights reserved.
// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this file,
// you can obtain one at https://mozilla.org/MPL/2.0/.

.box {
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  b {
    margin-bottom: 8px;
  }

  p {
    margin-top: 0;
    margin-bottom: 24px;
    font: var(--leo-font-primary-default-regular);
  }

  a {
    font: var(--leo-font-primary-default-semibold);
    color: var(--leo-color-text-interactive);
    text-decoration: none;
  }

  figure {
    width: 128px;
    height: auto;
    margin: 0 auto 20px auto;
  }
}

