<style include="settings-shared md-select iron-flex">
  .settings-row:not(:first-child) {
    border-top: var(--cr-separator-line);
  }

  .flex {
    align-self: center;
    flex: 1 1 auto;
  }
</style>

<div class="settings-box">
  <div class="flex cr-padded-text">
    <div class="start">$i18n{resolveUnstoppableDomainsDesc}</div>
    <div class="secondary">$i18nRaw{resolveUnstoppableDomainsSubDesc}</div>
  </div>
  <settings-dropdown-menu id="unstoppableDomainsResolveMethodType"
                          pref="{{prefs.shunya.unstoppable_domains.resolve_method}}"
                          menu-options="[[resolveMethod_]]">
</div>
<div class="settings-box">
  <div class="start">$i18n{resolveENSDesc}</div>
  <settings-dropdown-menu id="ensResolveMethodType"
                          pref="{{prefs.shunya.ens.resolve_method}}"
                          on-settings-control-change="updateShowENSOffchainLookupRow_"
                          menu-options="[[resolveMethod_]]">
</div>
<template is="dom-if" if="[[showEnsOffchainLookupRow_]]">
  <div class="settings-box">
    <div class="flex cr-padded-text">
      <div class="start">$i18n{ensOffchainLookupTitle}</div>
      <div class="secondary">$i18nRaw{ensOffchainLookupDesc}</div>
    </div>
    <settings-dropdown-menu id="ensOffchainLookupMethod"
      pref="{{prefs.shunya.ens.offchain_resolve_method}}" menu-options="[[ensOffchainResolveMethod_]]">
  </div>
</template>
<template is="dom-if" if="[[showSnsRow_]]">
  <div class="settings-box">
    <div class="start">$i18n{resolveSnsDesc}</div>
    <settings-dropdown-menu id="snsResolveMethodType"
                            pref="{{prefs.shunya.sns.resolve_method}}"
                            menu-options="[[resolveMethod_]]">
  </div>
</template>
