<style include="settings-shared md-select iron-flex">
    .settings-row:not(:first-child) {
      border-top: var(--cr-separator-line);
    }
    .flex {
      align-self: center;
      flex: 1 1 auto;
    }
    .flex-container {
      display: flex;
      padding: 8px 1em;
    }
    .hidden {
      display: none;
    }
    .reset-wallet {
      cursor: pointer;
      color: red;
    }
    .reset-transaction-info {
      cursor: pointer;
    }
    settings-dropdown-menu.wide-drop-down {
      --md-select-width: 260px;
    }
    settings-dropdown-menu.narrow-drop-down {
      --md-select-width: 100px;
    }
</style>
<div hidden="[[isNetworkEditor_]]">
  <div class="settings-box first">
    <div class="start">$i18n{defaultEthereumWalletDesc}</div>
    <settings-dropdown-menu id="defaultEthereumWalletType"
                            class="wide-drop-down"
                            pref="{{prefs.shunya.wallet.default_wallet2}}"
                            menu-options="[[ethereum_provider_options_]]">
    </settings-dropdown-menu>
  </div>
  <div class="settings-box">
    <div class="start">$i18n{defaultSolanaWalletDesc}</div>
    <settings-dropdown-menu id="defaultSolanaWalletType"
                            class="wide-drop-down"
                            pref="{{prefs.shunya.wallet.default_solana_wallet}}"
                            menu-options="[[solana_provider_options_]]">
    </settings-dropdown-menu>
  </div>
  <div class="settings-box">
    <div class="start">$i18n{defaultBaseCurrencyDesc}</div>
    <settings-dropdown-menu id="defaultBaseCurrencyType"
                            class="narrow-drop-down"
                            pref="{{prefs.shunya.wallet.default_base_currency}}"
                            menu-options="[[currency_list_]]">
    </settings-dropdown-menu>
  </div>
  <div class="settings-box">
    <div class="start">$i18n{defaultBaseCryptocurrencyDesc}</div>
    <settings-dropdown-menu id="defaultBaseCryptocurrencyType"
                            class="narrow-drop-down"
                            pref="{{prefs.shunya.wallet.default_base_cryptocurrency}}"
                            menu-options="[[cryptocurrency_list_]]">
    </settings-dropdown-menu>
  </div>
  <template is="dom-if" if="[[isNativeWalletEnabled_]]" restamp>
    <settings-toggle-button id="showShunyaWalletIconOnToolbar"
        class="cr-row"
        pref="{{prefs.shunya.wallet.show_wallet_icon_on_toolbar}}"
        label="$i18n{showShunyawalletIconOnToolbar}">
    </settings-toggle-button>
    <settings-toggle-button id="enableNftDiscovery"
        class="cr-row"
        pref="{{prefs.shunya.wallet.nft_discovery_enabled}}"
        label="$i18n{enableNftDiscoveryLabel}"
        sub-label="$i18n{enableNftDiscoveryDesc}"
        learn-more-url="$i18n{enableNftDiscoveryLearnMoreURL}">
    </settings-toggle-button>
  </template>
  <div class="settings-box" hidden="[[!isNativeWalletEnabled_]]">
    <div class="flex cr-padded-text">
      <div>$i18n{autoLockMinutes}</div>
      <div class="secondary">$i18n{autoLockMinutesDesc}</div>
    </div>
    <cr-input
        id="walletAutoLockMinutes" type="number"
        class="flex-container"
        value="$i18n{autoLockMinutesValue}"
        on-input="onInputAutoLockMinutes_"
        min="1"
        max="10080"
    >
    </cr-input>
  </div>
  <template is="dom-if" if="[[isNftPinningEnabled_]]" restamp>
      <settings-toggle-button id="enableNftPinning"
        class="cr-row"
        pref="{{prefs.shunya.wallet.auto_pin_enabled}}"
        label="$i18n{enableNftPinning}"
        sub-label="$i18n{enableNftPinningDesc}">
      </settings-toggle-button>

      <div class="settings-box " hidden="[[!shouldShowClearNftButton_]]"
         disabled="[[!shouldEnableClearNftButton_]]" on-click="onClearPinnedNftTapped_">
        <div class="flex cr-padded-text reset-transaction-info">
          <div>$i18n{clearPinnedNft}</div>
          <div class="secondary">[[i18n('clearPinnedNftDesc', pinnedNftCount_)]]</div>
        </div>
      </div>
  </template>
</div>
<settings-animated-pages id="wallet-networks" section="wallet">
  <div route-path="default">
    <cr-link-row id="walletNetworksLinkRow"
      class="hr" label="$i18n{walletNetworksLinkTitle}"
      sub-label="$i18n{walletNetworksItemDesc}"
      on-click="onWalletNetworksEditorClick_"
      role-description="$i18n{subpageArrowRoleDescription}">
    </cr-link-row>
  </div>
  <template is="dom-if" route-path="/wallet/networks">
    <settings-subpage
      associated-control="[[$$('#walletNetworksLinkRow')]]"
      page-title="$i18n{walletNetworksLinkTitle}">
      <settings-wallet-networks-subpage prefs="{{prefs}}">
      </settings-wallet-networks-subpage>
    </settings-subpage>
  </template>
</settings-animated-pages>

<template is="dom-if" if="[[!isNetworkEditor_]]">
  <div class="settings-box " on-click="onResetTransactionInfo_">
    <div class="flex cr-padded-text reset-transaction-info">
      <div>$i18n{resetTransactionInfo}</div>
      <div class="secondary">$i18n{resetTransactionInfoDesc}</div>
    </div>
  </div>
  <div class="settings-box " on-click="onResetWallet_">
    <div class="flex cr-padded-text reset-wallet">
      <div>$i18n{resetWallet}</div>
    </div>
  </div>
</template>
