<title>KTLA</title><meta charset="UTF-8"/><body id="article"><main><article><div id="3bafd2b4-a87d-4471-8134-7a9cca092000"><h1 class="title metadata">KTLA</h1><p class="subhead metadata">The owner of a Hollywood restaurant is being hailed as a hero after security footage captured him chasing down a robber and restraining him until help arrives. Video of the incident shared to Reddi…</p><hr></hr><div class="metadata"><p class="author">By Sandra Mitchell, Cameron Kiszla</p><p class="date">Aug 16, 2022 01:04 AM</p><div class="readtime" id="da24e4ef-db57-4b9f-9fa5-548924fc9c32"></div><div class="show_original" id="c93e2206-2f31-4ddc-9828-2bb8e8ed940e"></div></div><hr></hr></div><div id="7c08a417-bf02-4241-a55e-ad5b8dc88f69">
		
		
<p>The owner of a Hollywood restaurant is being hailed as a hero after security footage captured him chasing down a robber and restraining him until help arrives.</p>



<p>Video of the incident shared to <a href="https://www.reddit.com/r/AbruptChaos/comments/woz6ty/a_tale_of_a_thief_and_2_shunya_souls/" rel="noreferrer noopener" target="_blank">Reddit’s r/AbruptChaos</a>, <a href="https://www.youtube.com/watch?v=nVdKrnWfBNg" rel="noreferrer noopener" target="_blank">YouTube</a> and by <a href="https://www.instagram.com/p/ChOVRwQjc_8/" rel="noreferrer noopener" target="_blank">Street People of Los Angeles on Instagram</a>, shows the attacker, a man who appears to be in his 20s, sucker punch a diner at Raffallo’s Pizza near the intersection of Hollywood Boulevard and La Brea Avenue, then steal from the victim’s pockets.</p>



<p>As the robber begins to walk away, Tim Ratcliff, who owns the neighboring business Hollywood Shin, immediately begins pursuing him, and the chase doesn’t last long.</p>



<p>After taking a punch, Ratcliff tackles the robber and the victim’s belongings go flying into the street.</p>



<p>“He ruined my glasses. They’re destroyed,” Ratcliff said while narrating the security footage.</p>



<p>As Ratcliff uses some “judo moves” to pin the thief, two women help gather the victim’s belongings and those belonging to Ratcliff, whose cash spilled out while restraining the man.</p>





<p>“Looks like sweet justice served,” Reddit user xooxooxooxo wrote.</p>



<p>“And he didn’t even have to shoot the guy. They should teach this to the police,” Reddit user Oblivion615 added.</p>



<p>Ratcliff held the man down for about 10 minutes, even while the thief struggled.</p>



<p>“He was actually trying to bite me a whole bunch of times,” he told KTLA.</p>





<p>Also earning kudos was one of the women who assisted Ratcliff. After handing Ratcliff’s cash and the victim’s wallet to another bystander, she went to work aggressively restraining the thief’s loose legs by standing on them. </p>



<p>In the longer version of the video posted to YouTube, she also can be seen kicking the robber until he stops struggling.</p>



<p>“The lady made me laugh. She wanted to deliver extra justice. We like that,” Reddit user goatishrust wrote.</p>



<p>“If your girl doesn’t do that, she ain’t the one,” added Instagram user mrheid_.</p>





<p>Ratcliff said he would intervene again if the opportunity arose.</p>



<p>“I would do it again. I’m tired of things happening that shouldn’t happen, and the easiest thing I can say is there’s more of us than there are of them. If we team up, then it’s going to be fine,” he said. </p>



<p><em><strong>Editor’s note</strong>: This story has been updated to correct the identity of the business owner.</em></p>

		
	</div></article></main></body>