<link rel="import" href="chrome://resources/cr_elements/md_select.css.html">
<style include="settings-shared md-select iron-flex">
  .settings-box {
    display: flex;
    justify-content: space-between;
  }
</style>
<div class="settings-box">
  <div class="start" id="labelWrapper">
    <div class="label">$i18n{webRTCPolicyLabel}</div>
    <a id="learnMore" href="$i18n{webRTCLearnMoreURL}" target="_blank">
      $i18n{webRTCPolicySubLabel}
    </a>
  </div>
  <settings-dropdown-menu label="$i18n{webRTCLearnMoreURL}"
      pref="{{prefs.webrtc.ip_handling_policy}}"
      menu-options="[[webRTCPolicies_]]">
  </settings-dropdown-menu>
</div>
<settings-toggle-button id="pushMessagingEnabled"
    class="cr-row"
    pref="{{prefs.shunya.gcm.channel_status}}"
    label="$i18n{pushMessagingLabel}">
    <template is="dom-if" if="[[shouldShowRestart_(
      prefs.shunya.gcm.channel_status.value)]]">
    <cr-button on-click="restartBrowser_" slot="more-actions">
      $i18n{restart}
    </cr-button>
  </template>
</settings-toggle-button>
<settings-toggle-button id="p3aEnabled"
    class="cr-row"
    pref="[[p3aEnabledPref_]]"
    label="$i18n{p3aEnableTitle}"
    sub-label="$i18n{p3aEnabledDesc}"
    on-settings-boolean-control-change="onP3AEnabledChange_">
</settings-toggle-button>
<settings-toggle-button id="statsUsagePingEnabled"
    class="cr-row"
    pref="[[statsUsagePingEnabledPref_]]"
    label="$i18n{statsUsagePingEnabledTitle}"
    sub-label="$i18n{statsUsagePingEnabledDesc}"
    on-settings-boolean-control-change="onStatsUsagePingEnabledChange_">
</settings-toggle-button>
<settings-toggle-button id="metricsReportingControl"
    class="hr"
    pref="[[metricsReportingPref_]]"
    label="$i18n{enablePersonalizationLogging}"
    sub-label="$i18n{enablePersonalizationLoggingDesc}" no-set-pref
    on-settings-boolean-control-change="onMetricsReportingChange_">
  <template is="dom-if" if="[[showRestartForMetricsReporting_]]" restamp>
    <cr-button on-click="restartBrowser_" id="restart"
        slot="more-actions">
      $i18n{restart}
    </cr-button>
  </template>
</settings-toggle-button>
<div hidden="[[!isRequestOTRFeatureEnabled_]]" class="settings-box">
    <div class="start" id="labelWrapper">
        <div class="label">$i18n{requestOTRLabel}</div>
    </div>
    <settings-dropdown-menu id="defaultRequestOTR"
                            pref="{{prefs.shunya.request_otr.request_otr_action_option}}"
                            menu-options="[[requestOTRActions_]]">
    </settings-dropdown-menu>
</div>
