<style include="settings-shared md-select iron-flex">
    .settings-row:not(:first-child) {
      border-top: var(--cr-separator-line);
    }
    .flex {
      align-self: center;
      flex: 1 1 auto;
    }

    .flex-container {
      display: flex;
      padding: 8px 1em;
    }

    .storage-input {
      display: flex;
    }
    .hidden {
      display: none;
    }
  </style>
  <div id="ipfs-settings-block" class$="{{mainBlockVisibility_}}">
    <div class="settings-box first">
      <div class="flex cr-padded-text">
        <div class="start">$i18n{resolveIPFSURLDesc}</div>
        <div class="secondary" id="defaultIPFSGateway">
          $i18nRaw{ipfsMethodDesc}
        </div>
        <div class="secondary" hidden="[[!isLocalNodeEnabled_]]">$i18n{ipfsLocalNodeWarning}</div>
      </div>
      <settings-dropdown-menu id="ipfsResolveMethodType"
                              pref="{{prefs.shunya.ipfs.resolve_method}}"
                              menu-options="[[ipfsResolveMethod_]]"
                              on-settings-control-change="onChangeIpfsMethod_">
      </settings-dropdown-menu>
    </div>
    <div class="settings-box">
      <div class="flex cr-padded-text">
        <div>$i18n{ipfsPublicGatewayDesc}</div>
        <div class="secondary" id="defaultIPFSGateway">
          {{prefs.shunya.ipfs.public_gateway_address.value}}
        </div>
      </div>
      <cr-button id="changeIPFSGateway"
          on-click="onChangeIPFSGatewayDialogTapped_">
        $i18n{ipfsChangeGatewayButtonLabel}
      </cr-button>
    </div>
    <div class="settings-box">
      <div class="flex cr-padded-text">
        <div>$i18n{ipfsNftPublicGatewayDesc}</div>
        <div class="secondary" id="defaultNFTIPFSGateway">
          {{prefs.shunya.ipfs.public_nft_gateway_address.value}}
        </div>
      </div>
      <cr-button id="changeIPFSNFTGateway"
          on-click="onChangeIPFSNFTGatewayDialogTapped_">
        $i18n{ipfsChangeGatewayButtonLabel}
      </cr-button>
    </div>
    <settings-toggle-button id="ipfsAutoGatewayFallbackEnabled"
        class="cr-row"
        pref="{{prefs.shunya.ipfs.auto_fallback_to_gateway}}"
        label="$i18n{ipfsAutoFallbackToGatewayLabel}"
        sub-label="$i18n{ipfsAutoFallbackToGatewayDesc}">
    </settings-toggle-button>
    <settings-toggle-button id="ipfsAutoRedirectToConfiguredGateway"
      class="cr-row"
      pref="{{prefs.shunya.ipfs.auto_redirect_to_configured_gateway}}"
      label="$i18n{ipfsAutoRedirectToGatewayWhenPossibleLabel}"
      sub-label="$i18n{ipfsAutoRedirectToGatewayWhenPossibleDesc}"
      learn-more-url="$i18n{ipfsDNSLinkLearnMoreURL}">
    </settings-toggle-button>

    <settings-toggle-button id="ipfsCompanionEnabled"
      class="cr-row"
      pref="{{prefs.shunya.ipfs_companion_enabled}}"
      label="IPFS Companion"
      sub-label="$i18n{ipfsCompanionEnabledDesc}"
      on-settings-boolean-control-change="onIPFSCompanionEnabledChange_">
    </settings-toggle-button>

    <div class="settings-box" hidden="[[!isLocalNodeEnabled_]]">
      <div class="flex cr-padded-text">
        <div>$i18n{changeIpfsStorageMaxLabel}</div>
        <div class="secondary">$i18n{changeIpfsStorageMaxDesc}</div>
      </div>
      <cr-input
        id="ipfsStorageMax" type="number"
        class="storage-input"
        value="$i18n{ipfsStorageMaxValue}"
        on-change=onChangeIpfsStorageMax_
        min=1
      >
      </cr-input>
    </div>
  </div>
  <settings-animated-pages id="p2p-keys" section="ipfs">
    <div route-path="default" hidden="[[!isLocalNodeLaunched_]]">
      <cr-link-row id="p2pKeysLinkRow" start-icon="settings20:vpn-key"
        class="hr" label="$i18n{ipfsIpnsKeysLinkTitle}"
        sub-label="[[ipfsIpnsKeysLinkTitleDesc]]"
        on-click="onP2pKeysEditorClick_"
        role-description="$i18n{subpageArrowRoleDescription}">
      </cr-link-row>
    </div>
    <template is="dom-if" route-path="/ipfs/keys">
      <settings-subpage
        associated-control="[[$$('#p2pKeysLinkRow')]]"
        page-title="$i18n{ipfsIpnsKeysLinkTitle}">
        <settings-p2p-keys-subpage local-node-method="[[isLocalNodeEnabled_]]">
        </settings-p2p-keys-subpage>
      </settings-subpage>
    </template>
  </settings-animated-pages>
  <settings-animated-pages id="ipfs-peers" section="ipfs"
      hidden="[[!isLocalNodeEnabled_]]">
    <div route-path="default">
      <cr-link-row id="peersLinkRow"
        class="hr" label="$i18n{ipfsPeersLinkTitle}"
        sub-label="[[ipfsPeersLinkTitleDesc]]"
        on-click="onIpfsPeersEditorClick_"
        role-description="$i18n{subpageArrowRoleDescription}">
      </cr-link-row>
    </div>
    <template is="dom-if" route-path="/ipfs/peers">
      <settings-subpage
        associated-control="[[$$('#ipfsPeersLinkRow')]]"
        page-title="$i18n{ipfsPeersLinkTitle}">
        <settings-ipfs-peers-subpage local-node-method="[[isLocalNodeEnabled_]]" local-node-launched="[[isLocalNodeLaunched_]]">
        </settings-ipfs-peers-subpage>
      </settings-subpage>
    </template>
  </settings-animated-pages>
  <template is="dom-if" if="[[showChangeIPFSGatewayDialog_]]" restamp>
    <change-ipfs-gateway-dialog pref="{{prefs.shunya.ipfs.public_gateway_address}}" prefs="{{prefs}}" on-close="onChangeIPFSGatewayDialogClosed_">
    </change-ipfs-gateway-dialog>
  </template>
  <template is="dom-if" if="[[showChangeIPFSNFTGatewayDialog_]]" restamp>
    <change-ipfs-gateway-dialog pref="{{prefs.shunya.ipfs.public_nft_gateway_address}}" prefs="{{prefs}}" on-close="onChangeIPFSNFTGatewayDialogClosed_">
    </change-ipfs-gateway-dialog>
  </template>
</template>
