<if expr="enable_shunya_vpn_wireguard">
<style include="settings-shared cr-shared-style iron-flex">
  .title {
    font-size: 14px;
    font-weight: 600;
    height: 68px;
  }
</style>

<template is="dom-if" if="[[showVpnPage_()]]">
  <div class="cr-row title">$i18n{vpnPageTitle}</div>
  <settings-vpn-page prefs="{{prefs}}">

    <settings-toggle-button id="toggleWireguardButton"
        pref="{{prefs.shunya.shunya_vpn.wireguard_enabled}}"
        label="$i18n{useWireguardLabel}"
        sub-label="[[toggleWireguardSubLabel_]]"
        disabled="[[shunyaVpnConnected_]]"
        on-change="onChange_">
      <template is="dom-if" if="[[shouldShowRestart_]]">
        <cr-button on-click="onRestartClick_" slot="more-actions">
          $i18n{restart}
        </cr-button>
      </template>
    </settings-toggle-button>

  </settings-vpn-page>
</template>
</if>
