/*Copyright (c) 2023 The Shunya Authors. All rights reserved.*/
/*This Source Code Form is subject to the terms of the Mozilla Public*/
/*License, v. 2.0. If a copy of the MPL was not distributed with this file,*/
/*you can obtain one at http://mozilla.org/MPL/2.0/.*/

body {
  font-display: optional;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}